body {
    font-family: 'Open Sans', sans-serif;
}

@font-face {
    font-family: 'HansKendrick';
    src: url('../fonts/HansKendrick-Regular.otf');
    /* IE9 Compat Modes */
    src: url('../fonts/HansKendrick-Regular.otf') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/HansKendrick-Regular.otf') format('otf'), /* Super Modern Browsers */
}

.main_content {
    padding-top: 70px;
}

.nav-tabs>li.active>a {
    margin-right: 0px !important;
    border-radius: 0px !important;
    text-align: right;
    border: solid 1px #edede8 !important;
    border-left: solid 3px #ec6543 !important;
    font-family: 'HansKendrick', Fallback, sans-serif;
    font-size: 14px;
    font-weight: 900;
    text-align: right;
    color: #ec6543 !important;
}

.nav-tabs>li>a {
    margin-right: 0px !important;
    border-radius: 0px !important;
    text-align: right;
    border: solid 1px #edede8 !important;
    font-family: 'HansKendrick', Fallback, sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-align: right;
    color: #686868 !important;
}

.nav-tabs>li>a {
    padding: 10px 16px;
}

.nav-tabs>li {
    width: 100%;
}

.common-div h2 {
    font-family: 'HansKendrick', Fallback, sans-serif;
    font-size: 21px;
    font-weight: 400;
    color: #686868;
}

.common-div h2:after {
    content: "";
    background: url("../img/svg/zigzag-basic-unit-black.svg");
    width: 100px;
    height: 20px;
    display: block;
    background-repeat: repeat-x;
    margin-top: 20px;
}

.common-div h1 {
    font-family: 'HansKendrick', Fallback, sans-serif;
    font-size: 18px;
    font-weight: 900;
    color: #272727;
}

.common-div h3 {
    font-size: 14px;
    font-weight: 800;
    letter-spacing: 2px;
    color: #ca38af;
}

.common-div p {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    color: #686868;
    margin-bottom: 20px;
}

.common-div .row .col-md-9 span {
    margin-left: 20px;
    display: block;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    color: #686868;
    margin-bottom: 20px;
}

.seperator:after {
    content: "";
    background: url("../img/svg/zigzag-basic-unit-black.svg");
    width: 100px;
    height: 20px;
    display: block;
    background-repeat: repeat-x;
    margin: 50px 0px;
}

.common-div p strong {
    color: #ec6543;
}

label {
    font-size: 12px;
    font-weight: 800;
    letter-spacing: 2px;
    color: #686868;
}

.form-control {
    width: 220px;
    height: 30px;
    border-radius: 2px;
    border: solid 1px #bfbfbb;
}

textarea.form-control {
    height: 110px;
    resize: none;
}

.tab4-content .row .col-md-6:first-child {
    border-right: solid 1px #bfbfbb;
}
.tab4-content .row .col-md-6:last-child {
    padding-left: 50px;
}

.submit {
    border-radius: 2px;
    background-color: #ec6543 !important;
    font-family: 'HansKendrick', Fallback, sans-serif;
    font-size: 12px;
    font-weight: 900;
    text-align: center;
    color: #ffffff !important;
    border: none !important;
    padding: 10px;
}
.tab3-content .row .col-md-4 .logo_partner
{
    border-radius: 2px;
  border: solid 1px #edede8;
}
.logo_partner p
{
    text-align: center;
      font-family: 'HansKendrick', Fallback, sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #686868;
}
.logo_partner img.img-responsive.center-block {
    margin-top: 20px;
    margin-bottom: 20px;
}
.tab3-content .row
{
    margin-top: 40px;
}