body {
    font-family: 'Open Sans', sans-serif;
}

@font-face {
    font-family: 'HansKendrick';
    src: url('../fonts/HansKendrick-Regular.otf');
    /* IE9 Compat Modes */
    src: url('../fonts/HansKendrick-Regular.otf') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/HansKendrick-Regular.otf') format('otf'), /* Super Modern Browsers */
}

.product_view {
    border-bottom: solid 1px #edede8;
}

.main_product {
    background-color: #f5f5f2;
    padding: 50px;
}

.hand-made-badge {
    position: absolute;
    bottom: 85px;
}

img.img-responsive.product_view_image {
    border: 2px solid transparent;
}

.selected-image {
    border: solid 2px #ec6543 !important;
    background-color: #fff;
}

.main_product_image_div {
    overflow: hidden;
}

.zoom_button {
    position: absolute;
    left: 50%;
    top: 30%;
    z-index: 9;
    cursor: pointer;
}

.product_view_image_full {
    width: 520px;
    transition: 1s ease all;
}

.main_product_col {
    width: 64%;
}

.main_product_heading {
    margin: 35px 41px;
    font-family: 'HansKendrick', sans-serif;
    font-size: 21px;
    font-weight: normal;
    color: #464646;
}

.main_product_heading_rs {
    margin: 33px 47px;
    font-size: 21px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    color: #ec6543;
}

.main_product_social {
    margin-top: 47px;
}

.main_product_social img {
    margin-right: 23px;
}

.income_artisian {
    padding: 10px;
    border-radius: 2px;
    background-color: #f5f5f2;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: normal;
    color: #787878;
}

.progress {
    height: 4px;
}

.circle_show {
    background: #f5f5f2;
    width: 100%;
    height: auto;
    margin-top: -20px;
    padding-top: 5px;
    display: none;
}

.circle_show:after {
    background: linear-gradient(-50deg, #ffffff 16px, transparent 0), linear-gradient(50deg, #ffffff 16px, transparent 0);
    background-position: left-bottom;
    background-repeat: repeat-x;
    background-size: 9px 55px;
    content: " ";
    display: block;
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 32px;
}

.learn_more {
    font-family: 'Open Sans', sans-serif;
    font-size: 10px;
    line-height: 1.3;
    text-align: center;
    padding: 10px;
}

.learn_more span {
    font-weight: 600;
    color: #000000;
}

.dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #74c700;
    padding: 6px;
    margin: 5px;
}

.dot1 {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #ffc900;
    padding: 6px;
    margin: 5px;
}

.dot2 {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #e5b500;
    padding: 6px;
    margin: 5px;
}

.dot3 {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #ad8901;
    padding: 6px;
    margin: 5px;
}

.dot4 {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #7f6502;
    padding: 6px;
    margin: 5px;
}

.dot5 {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #d9d9d4;
    padding: 6px;
    margin: 5px;
}

.rupee,
.rupee1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 700;
    color: #599900;
}

.income,
.income1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 11px;
    font-weight: 400;
    color: #599900;
}

.income_circle_des {
    font-family: 'Open Sans', sans-serif;
    font-size: 9px;
    font-weight: 400;
    line-height: 1.11;
    color: #8c8c8c;
    margin-top: 5px;
}.zoom_button {
    opacity: 0;
}
.col-md-7.main_product:hover .zoom_button {
    opacity: 1;
}
.rupee1,
.income1 {
    color: #686868;
}

.circle_show_after {
    display: block;
}

.circle_bottom_after {
    display: none;
}

.heading_product_strip1 {
    background: url(../img/svg/zigzag-border-black.svg) no-repeat;
    width: 100px;
    height: 20px;
}

.quantity_row {
    margin-top: 16px;
}

.quantity_p {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: normal;
    color: #464646;
    margin: 0 0 5px;
}

.increment_decrement {
    width: 40px;
    height: 40px;
    border-radius: 2px;
    background-color: #f5f5f2;
    border: 0px;
    outline: none;
    color: #686868;
    font-size: 26px;
}

#amount_value {
    width: 40px;
    text-align: center;
    outline: none;
    border: 0px;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: #000000;
}

.pin_button {
    width: 97px;
    height: 41px;
    border-radius: 2px;
    background-color: #686868;
    border: 0px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 900;
    text-align: center;
    color: #ffffff;
    font-family: 'HansKendrick', sans-serif;
    outline: none;
    margin-left: -3px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.pin_prev {
    background: #f5f5f2;
    margin-right: -5px;
    height: 40px;
    border-radius: 0px;
    width: 17px;
    padding: 12px;
    display: none;
}

input#pin_code {
    border-radius: 2px;
    background-color: #f5f5f2;
    border: 0;
    height: 40px;
    width: 145px;
    outline: none;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: normal;
    text-align: center;
    color: #000000;
}

.pin_code_after {
    width: 92% !important;
    color: #000000 !important;
}

.add_bag {
    margin-top: 24px;
}

.add_to_bag,
.out_of_stock,
.pre_order {
    border: 1px solid #ec6543;
    width: 100%;
    height: 40px;
    border-radius: 2px;
    background-color: #ec6543;
    outline: none;
    font-family: 'HansKendrick', sans-serif;
    font-size: 12px;
    font-weight: 900;
    text-align: center;
    color: #ffffff;
}

.product_des {
    margin: 12px 0px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.57;
    color: #686868;
}

.progress-bar:nth-last-child(5) {
    border-radius: 4px;
    background-color: #74c700;
    border-right: 2px solid
}

.progress-bar:nth-last-child(4) {
    border-radius: 4px;
    background-color: #ffc900;
    border-right: 2px solid
}

.progress-bar:nth-last-child(3) {
    border-radius: 4px;
    background-color: #e5b500;
    border-right: 2px solid
}

.progress-bar:nth-last-child(2) {
    border-radius: 4px;
    background-color: #ad8901;
    border-right: 2px solid
}

.progress-bar:nth-last-child(1) {
    border-radius: 4px;
    background-color: #7f6502;
}

#arcs1 {
    border: 2px solid #000;
    display: inline-block;
    min-width: 4em;
    min-height: 4em;
    padding: 0.5em;
    border-radius: 50%;
}

#arcs2 {
    border: 2px solid red;
    display: inline-block;
    min-width: 4em;
    min-height: 4em;
    padding: 0.5em;
    border-radius: 50%;
}

#arcs3 {
    border: 2px solid yellow;
    display: inline-block;
    min-width: 4em;
    min-height: 4em;
    padding: 0.5em;
    border-radius: 50%;
}

#arcs4 {
    border: 2px solid orange;
    display: inline-block;
    min-width: 4em;
    min-height: 4em;
    padding: 0.5em;
    border-radius: 50%;
}

#arcs5 {
    border: 2px solid green;
    display: inline-block;
    min-width: 4em;
    min-height: 4em;
    padding: 0.5em;
    border-radius: 50%;
}

.income_artisian span.pull-right {
    font-size: 25px;
    margin: -10px 1px;
    cursor: pointer;
}


/*Care Instruction Css*/

.care_instruction {
    background-color: #f5f5f2;
    padding: 60px;
    margin: 50px;
}

.care_instruction .col-md-4 img.img-responsive.center-block {
    margin-bottom: 20px;
}

.care_instruction .col-md-4 span {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 800;
    letter-spacing: 2px;
    text-align: center;
    display: block;
    color: #272727;
}

.care_instruction .col-md-8 span {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.57;
    color: #686868;
}

.product_story {
    margin: 57px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 800;
    letter-spacing: 2px;
    text-align: center;
    color: #787878;
}

.product_story_des {
    font-family: 'HansKendrick', sans-serif;
    font-size: 21px;
    font-weight: 300;
    line-height: 1.43;
    text-align: center;
    color: #000000;
    padding: 0px 73px;
}

.seperator-single {
    background-image: url(../img/svg/zigzag-unit-black.svg);
    height: 16px;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 70px;
}

.about_des {
    margin-top: 70px;
    background-color: #edede8;
}

.about_image {
    min-width: 100%;
}

.about_head {
    font-family: 'HansKendrick', sans-serif;
    font-size: 28px;
    font-weight: 300;
    letter-spacing: -1px;
    color: #272727;
    margin: 55px 75px 0px;
}

.about_sub_head {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 800;
    letter-spacing: 2px;
    color: #272727;
    margin: 5px 75px;
}

.about_sub_des {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.57;
    color: #464646;
    margin: 20px 76px;
}

.text-right-des {
    text-align: right;
}

.product_form {
    margin: 50px 40px;
    border: solid 1px #d9d9d4;
    padding: 60px;
    margin-bottom: 0px;
}

.product_form_head {
    font-family: 'HansKendrick', sans-serif;
    font-size: 28px;
    font-weight: normal;
    letter-spacing: -1px;
    color: #272727;
}

.seperator-pink {
    background-image: url(../img/zigzag-basic-unit-pink.png);
    height: 16px;
    background-repeat: no-repeat;
    margin-top: 20px;
}

.product_form_des {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.57;
    color: #464646;
    margin-top: 20px;
    padding-right: 50px;
}

.text_area_form {
    width: 100%;
    height: 180px;
    border-radius: 2px;
    background-color: #f5f5f2;
    border: solid 1px #d9d9d4;
    margin-top: 0px;
    padding: 12px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 300;
    font-style: italic;
    line-height: 1.57;
    color: #686868;
    resize: none;
}

.product_form_input {
    border-radius: 2px;
    background-color: #f5f5f2;
    border: solid 1px #d9d9d4;
    width: 100%;
    height: 40px;
    margin-top: 15px;
    padding-left: 13px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 300;
    font-style: italic;
    line-height: 1.57;
    color: #686868;
}

.form_product_submit {
    display: block;
    margin: auto;
    width: 180px;
    height: 40px;
    border-radius: 2px;
    background-color: #d400ad;
    border: 0;
    margin-top: 40px;
    color: #fff;
    font-family: 'HansKendrick', sans-serif;
    font-size: 12px;
    font-weight: 900;
    text-align: center;
}

.seperator-single {
    background-image: url(../img/svg/zigzag-unit-black.svg);
    height: 16px;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 70px;
}

.bottom_about {
    margin-top: 70px;
    border: solid 1px #edede8;
}

.slider_top {
    margin-top: 100px;
}

.shop_more {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 800;
    letter-spacing: 2px;
    color: #787878;
    margin-left: -5px;
}

.see-all {
    font-family: 'HansKendrick', sans-serif;
    font-size: 14px;
    font-weight: 900;
    line-height: 1.79;
    text-align: right;
    color: #000000;
}

#owl-demo .item {
    padding: 0px;
    margin: 10px;
    color: #FFF;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

#owl-demo1 .item {
    padding: 0px;
    margin: 10px;
    color: #FFF;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.margin_product {
    margin-bottom: 50px;
}

.img-area {
    height: 300px;
    padding: 30px;
    background: #f5f5f2;
}

a.center-block.basket_button {
    transition: 1s ease all;
    margin-top: 17px;
    height: 40px;
    border-radius: 2px;
    background-color: #ec6543;
    border-color: #ec6543;
    padding: 8px;
    text-align: center;
    color: #fff;
    text-decoration: none;
    opacity: 0;
    font-family: 'HansKendrick', sans-serif;
}

.margin_product:hover .basket_button {
    transition: 1s ease all;
    opacity: 1;
}

a.center-block.basket_button:hover {
    text-decoration: none;
    color: #fff;
}

.product_details {
    margin-top: 19px;
}

.margin_product p {
    font-family: 'HansKendrick', sans-serif;
}

.handcrafted {
    font-family: 'HansKendrick', sans-serif;
    font-size: 16px;
    font-weight: normal;
    letter-spacing: -0.6px;
    color: #464646;
}

.Rs {
    font-size: 12px;
    font-weight: bold;
    text-align: right;
    color: #000000;
    margin-top: 10px;
    font-family: 'Open Sans', sans-serif !important;
}

.description_bottom {
    font-family: 'Open Sans', sans-serif !important;
    font-size: 12px;
    font-weight: normal;
    color: #686868;
}

span.num,
span.num1 {
    font-family: 'HansKendrick', sans-serif;
    font-size: 16px;
    font-weight: normal;
    letter-spacing: -0.6px;
    text-align: center;
    color: #464646;
}

.customNavigation {
    text-align: center;
}

img.img-responsive.bookmark {
    margin: -15px;
    float: right;
    height: initial;
}


/*Add To Bag Size Css*/

.color_selected {
    border-radius: 2px;
    background-image: url('../img/svg/selected-pattern.svg');
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
    border: solid 2px #ec6543;
}

.color_div1 {
    width: 66px;
    height: 40px;
    border-radius: 2px;
    background-color: #798893;
    float: left;
    margin-right: 10px;
    cursor: pointer;
}

.size_div {
    width: 66px;
    height: 40px;
    border-radius: 2px;
    background-color: #f5f5f2;
    float: left;
    margin-right: 10px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #000000;
    padding: 10px 0px;
    text-align: center;
    cursor: pointer;
}

.size_selected {
    border-radius: 2px;
    background-color: #ec6543;
    color: #fff;
}

.color_div1 {
    width: 66px;
    height: 40px;
    border-radius: 2px;
    background-color: #798893;
    float: left;
    margin-right: 10px;
    cursor: pointer;
}

.color_div2 {
    width: 66px;
    height: 40px;
    border-radius: 2px;
    background-color: #8b7c5d;
    float: left;
    margin-right: 10px;
    cursor: pointer;
}

.color_selected {
    border-radius: 2px;
    background-image: url('../img/svg/selected-pattern.svg');
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
    border: solid 2px #ec6543;
}
.out_of_stock {
    opacity: 0.3;
}
a#prev2, a#prev1 {
    margin-top: -5px;
}
.img-border {
    border: 2px solid #ec6543;
}

@media(max-width:767px)
{
.care_instruction {
    background-color: #f5f5f2;
    padding: 10px;
        margin: 15px -30px;
}
    .product_story {
    margin: 25px;
    }
    .product_story_des {
    padding: 0px 5px;
    }
    .about_head {
    margin: 30px 30px 0px;
    }
    .about_sub_head {
    margin: 5px 30px;
    }
    .about_sub_des {
    margin: 20px 30px;
    }
    .product_form {
    margin: 30px 0px;
    border: solid 1px #d9d9d4;
    padding: 10px;
    margin-bottom: 0px;
}
    .heading_product_strip:before {
        position: absolute;
        top: 15px;
        width: 25%;
    }
    .heading_product_strip:after {
        position: absolute;
        right: 0;
        top: 15px;
        width: 25%;
        left: 70%;
        display: block
    }
    .heading_product h1 {
        text-align: center;
        margin: 5px 0px 17px 0px;
    }
    .col-md-2.small-images
    {
               position: absolute;
    left: 5px;
   bottom: 8px;
    }.col-md-2.small-images img {
    width: 50px;
        float: left;
    margin-right: 10px;

}
    img.img-responsive.hand-made-badge {
        width: 50px;
    right: 15px;
    bottom: 8px;
}.product_view_image_full {
    margin-bottom: 15px;
    border-bottom: 1px solid #ccc;
}
    .main_product {
    padding: 50px 0px;
}
    .main_product_col
    {
        width: 100%;
    }
    .main_product_heading {
    margin: 15px 0px;
    }
    .main_product_heading_rs {
    margin: 10px 0px;
        text-align: left;
}
    .main_product_social {
    margin-top: 7px;
    float: right;
    position: absolute;
    margin-top: -35px;
    right: 0;
}
    .main_product_social img {
    margin-right: 10px;
}
    .product_view
    {
        margin-top: -58px;
    }
    .quantity_p_1
    {
        margin-top: 15px;
        margin-left: 15px;
    }
    input#pin_code
    {

        margin-left: 15px;
    }
    .text-right-des
    {
        text-align: left;
    }
    .care_instruction .col-md-8 span
    {
        display: block;
        text-align: center;
    }
    .product_story_des{
        font-size: 16px;
    }
}

/*Add To Bag Size Css*/
