body {
    font-family: 'Open Sans', sans-serif;
}

@font-face {
    font-family: 'HansKendrick';
    src: url('../fonts/HansKendrick-Regular.otf');
    /* IE9 Compat Modes */
    src: url('../fonts/HansKendrick-Regular.otf') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/HansKendrick-Regular.otf') format('otf'), /* Super Modern Browsers */
}


section.checkout {
    background-color: #f5f5f2;
    padding-top: 50px;
    padding-bottom: 50px;
}

.col-md-7.pad-right{
    padding-right: 40px;
}
.col-md-7.pad-right span.logged_in_as{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.79;
    color: #686868;
}
.col-md-7.pad-right span.change{
    font-family: 'HansKendrick', sans-serif;
    font-size: 12px;
    font-weight: 900;
    text-align: right;
    color: #464646;
    cursor: pointer;
}
.pad-right .container-fluid.cart {
    padding: 30px;
    background: #fff;
    margin-top: 21px;
    font-family: 'HansKendrick', sans-serif;
    font-size: 21px;
    font-weight: 400;
    line-height: 1.19;
    letter-spacing: -1px;
    text-align: center;
    color: #686868;
    opacity: 1;
}
.cart_form {
    width: 140px;
    height: 40px;
    border-radius: 2px;
    border: solid 1px #d9d9d4;
    box-shadow: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: #464646;
}
.cart_form_textarea {
    height: 80px !important;
    border-radius: 2px;
    border: solid 1px #d9d9d4;
    resize: none;
    box-shadow: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: #464646;
}
.shipping_state {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 2.08;
    text-align: center;
    color: #000000;
}
.deleviery_button {
    height: 40px;
    border-radius: 2px;
    background-color: #ec6543;
    border: none;
    width: 140px;
    margin-top: 5px;
    font-family: 'HansKendrick', sans-serif;
    font-size: 12px;
    font-weight: 900;
    text-align: center;
    color: #ffffff;
}
.cart_next_then {
    padding: 25px !important;
    opacity: 0.5 !important;
    font-family: 'HansKendrick', sans-serif;
    font-size: 21px;
    font-weight: 400;
    line-height: 1.19;
    letter-spacing: -1px;
    text-align: center;
    color: #686868;
}


.col-md-5.pad-left {
    padding-left: 30px;
}

.panel.summary h2 {
    font-family: 'HansKendrick', Fallback, sans-serif;
    font-size: 21px;
    font-weight: normal;
    text-align: center;
    color: #686868;
    text-align: center;
}

.panel.summary h2:after {
    content: "";
    display: block;
    margin: auto;
    width: 110px;
    height: 15px;
    background: url(../img/svg/zigzag-border-black.svg) center no-repeat;
    margin-top: 16px;
}

.panel.summary .summary-details {
    padding-left: 50px;
    padding-right: 50px;
}

.panel.summary .summary-details span.pull-right {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 600;
    text-align: right;
    color: #000000;
}

.panel.summary .summary-details span {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: normal;
    color: #686868;
}

.zig {
    background: url(../img/zigzag-border-grey.png) center no-repeat;
    height: 20px;
    border: none;
}

hr.line {
    border: solid 1px #f5f5f2;
    margin-top: 8px;
}

.panel.summary .summary-details .total span {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: bold;
    text-align: right;
    color: #000000;
}

.income-details span {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: normal;
    color: #787878;
}

.income-details .table {
    margin-bottom: 0px;
    margin-top: 30px;
}
button.ghost {
    margin-top: 30px;
    font-family: 'HansKendrick', Fallback, sans-serif;
    font-size: 12px;
    font-weight: 900;
    text-align: center;
    color: #272727;
    width: 200px;
    transition: 0.5s ease;
    height: 40px;
    border-radius: 2px;
    border: solid 1px #000000;
    background-color: transparent;
}

button.ghost:hover {
    color: #eeeeee;
    transition: 0.5s ease;
    background-color: #000000;
}
