body {
    font-family: 'Open Sans', sans-serif;
}

@font-face {
    font-family: 'HansKendrick';
    src: url('../fonts/HansKendrick-Regular.otf');
    /* IE9 Compat Modes */
    src: url('../fonts/HansKendrick-Regular.otf') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/HansKendrick-Regular.otf') format('otf'), /* Super Modern Browsers */
}
.panel.item > .panel-body {
    padding-left: 10px;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-right: 10px;
}

section.checkout {
    background-color: #f5f5f2;
    padding-top: 50px;
    padding-bottom: 50px;
}

.col-md-7.pad-right{
    padding-right: 40px;
}

.item h4 {
    font-family: 'HansKendrick', sans-serif;
    font-size: 21px;
    font-weight: 400;
    line-height: 1.19;
    letter-spacing: -1px;
    text-align: center;
    color: #686868;
}
.item p.anchor a {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px !important;
    font-weight: 400;
    text-align: center;
    color: #2baca3 !important;
}
.btn-google {
    font-family: 'HansKendrick', sans-serif;
    font-size: 12px;
    font-weight: 900;
    text-align: center;
    color: #ffffff;
    width: 200px;
    height: 40px;
    border-radius: 2px;
    background-color: #de4937;
    background-image: url(../img/google-plus.png);
    background-repeat: no-repeat;
}
.btn-facebook {
    font-family: 'HansKendrick', sans-serif;
    font-size: 12px;
    font-weight: 900;
    text-align: center;
    color: #ffffff;
    width: 200px;
    height: 40px;
    border-radius: 2px;
    background-color: #47619d;
    background-image: url(../img/facebook.png);
    background-repeat: no-repeat;
    background-position: 3px 0px;
}
.navbar-form {
    margin-top: 26px;
}
.navbar-form p {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: #686868;
}
.text-box-login {
    width: 197px !important;
    height: 40px;
    border-radius: 2px;
    border: solid 1px #d9d9d4;
}
.btn-green {
    height: 40px;
    border-radius: 2px;
    background-color: #3dd9ce;
    font-family: 'HansKendrick', sans-serif;
    font-size: 12px;
    font-weight: 900;
    text-align: center;
    color: #ffffff;
}
#cart-forgot {
    display: none;
}
.cart_forgot {
    display: block !important;
}
.navbar-form p {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: #686868;
}
.btn-link {
    font-family: 'HansKendrick', sans-serif;
    text-decoration: none !important;
    font-size: 12px;
    outline: none;
    font-weight: 900;
    text-align: center;
    color: #464646;
}
p.forgot-pass {
    margin-bottom: -17px;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 400;
    text-align: right;
    color: #2baca3 !important;
}
p.forgot-pass a {
    color: #2baca3 !important;
}

.panel.item > .panel-body a {
    font-size: 13px;
    color: #333;
    text-decoration: none;
}

.col-md-5.pad-left {
    padding-left: 30px;
}
.cart_login {
    display: none;
}
.panel.summary h2 {
    font-family: 'HansKendrick', Fallback, sans-serif;
    font-size: 21px;
    font-weight: normal;
    text-align: center;
    color: #686868;
    text-align: center;
}

.panel.summary h2:after {
    content: "";
    display: block;
    margin: auto;
    width: 110px;
    height: 15px;
    background: url(../img/svg/zigzag-border-black.svg) center no-repeat;
    margin-top: 16px;
}

.panel.summary .summary-details {
    padding-left: 50px;
    padding-right: 50px;
}

.panel.summary .summary-details span.pull-right {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 600;
    text-align: right;
    color: #000000;
}

.panel.summary .summary-details span {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: normal;
    color: #686868;
}

.zig {
    background: url(../img/zigzag-border-grey.png) center no-repeat;
    height: 20px;
    border: none;
}

hr.line {
    border: solid 1px #f5f5f2;
    margin-top: 8px;
}

.panel.summary .summary-details .total span {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: bold;
    text-align: right;
    color: #000000;
}

.income-details span {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: normal;
    color: #787878;
}

.income-details .table {
    margin-bottom: 0px;
    margin-top: 30px;
}
button.ghost {
    margin-top: 30px;
    font-family: 'HansKendrick', Fallback, sans-serif;
    font-size: 12px;
    font-weight: 900;
    text-align: center;
    color: #272727;
    width: 200px;
    transition: 0.5s ease;
    height: 40px;
    border-radius: 2px;
    border: solid 1px #000000;
    background-color: transparent;
}

button.ghost:hover {
    color: #eeeeee;
    transition: 0.5s ease;
    background-color: #000000;
}
