.panel.item > .panel-body {
    padding-left: 10px;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-right: 10px;
}section.checkout {
    background-color: #f5f5f2;
    padding-top: 50px;
    padding-bottom: 50px;
}
ul.nav.check-tab.nav-tabs {
    border-bottom: 0px;
}
ul.nav.check-tab.nav-tabs>li.active>a, ul.nav.check-tab.nav-tabs>li.active>a:focus, ul.nav.check-tab.nav-tabs>li.active>a:hover {
    font-family: 'HansKendrick', Fallback, sans-serif;
    font-size: 14px;
    font-weight: 900;
    text-align: center;
    color: #ec6543;
    cursor: pointer;
    background-color: transparent !important;
    border: 1px solid transparent;
    border-bottom-color: transparent;
    border-bottom: 2px solid #ec6543;
}
ul.nav.check-tab.nav-tabs>li>a, ul.nav.check-tab.nav-tabs>li>a:focus, ul.nav.check-tab.nav-tabs>li>a:hover {
    font-family: 'HansKendrick', Fallback, sans-serif;
    font-size: 14px;
    font-weight: normal;
    color: #000000;
    cursor: pointer;
    background-color: transparent !important;
    border: 1px solid transparent;
    border-bottom-color: transparent;
}
.col-md-7.pad-right {
    padding-right: 40px;
}
.delivery-details {
    padding-top: 20px;
    padding-bottom: 20px;
}
.delivery-details img {
    height: 30px;
    padding-right: 10px;
}
.delivery-details span {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: normal;
    color: #464646;
}
.delivery-details a {
    font-family: 'HansKendrick', Fallback, sans-serif;
    font-size: 12px;
    font-weight: 900;
    color: #464646;
}
.panel.item > .panel-body span.text {
    font-family: 'Open Sans', sans-serif;
    font-size: 10px;
    font-weight: normal;
    text-align: right;
    color: #686868;
}
.panel.item > .panel-body .product-title {
    width: 180px;
}
.panel.item > .panel-body .product-title h3 {
    font-family: 'HansKendrick', Fallback, sans-serif;
    font-size: 14px;
    font-weight: normal;
    letter-spacing: -0.5px;
    color: #464646;
    margin-top: 0px;
}
.product-details .table {
    margin-bottom: 0px;
    width: 0%;
}
.panel.item > .panel-body span.text {
    font-family: 'Open Sans', sans-serif;
    font-size: 10px;
    font-weight: normal;
    text-align: right;
    color: #686868;
}
.col-md-5.pad-left{
    padding-left: 30px;
}
.panel.summary h2 {
    font-family: 'HansKendrick', Fallback, sans-serif;
    font-size: 21px;
    font-weight: normal;
    text-align: center;
    color: #686868;
    text-align: center;
}
.panel.summary .summary-details {
    padding-left: 50px;
    padding-right: 50px;
}
.panel.summary .summary-details span.pull-right {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 600;
    text-align: right;
    color: #000000;
}
.panel.summary .summary-details span {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: normal;
    color: #686868;
}
hr.line {
    border: solid 1px #f5f5f2;
    margin-top: 8px;
}
.panel.summary .summary-details p a.redtext {
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    font-size: 14px;
    font-weight: normal;
    color: #ec6543;
    text-align: center;
}
.panel.summary .summary-details p a.redtext:after {
    content: "";
    display: block;
    margin: auto;
    height: 15px;
    background: url(../img/svg/zigzag-border-grey.svg) center no-repeat;
    margin-top: 16px;
}
.panel.summary .summary-details .total span {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: bold;
    text-align: right;
    color: #000000;
}
.basket_button {
    transition: 1s ease all;
    margin-top: 17px;
    height: 40px;
    border-radius: 2px;
    background-color: #ec6543;
    border-color: #ec6543;
    padding: 8px;
    text-align: center;
    color: #fff;
    text-decoration: none;
    font-family: 'HansKendrick', sans-serif;
}
button.btn.basket_button {
    width: 85%;
    margin-right: 20px;
    margin-left: 20px;
    font-family: 'HansKendrick', sans-serif;
    font-size: 12px;
    font-weight: 900;
    text-align: center;
    color: #ffffff;
}
.income-details .table {
    margin-bottom: 0px;
    margin-top: 30px;
}
.income-details span {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: normal;
    color: #787878;
}
.product-details .table>tbody>tr>td, .product-details .table>tbody>tr>th, .product-details .table>tfoot>tr>td, .product-details .table>tfoot>tr>th, .product-details .table>thead>tr>td, .product-details .table>thead>tr>th {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 0px solid #ddd;
}
.trash {
    height: 24px;
    opacity: 0.8;
}
.panel.item > .panel-body span.text b {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: bold;
    text-align: right;
    color: #000000;
}
/*Modal*/
.checkout-modal {
    top: 77px;
}
.modal-content {
    padding: 24px;
    position: relative;
    background-color: #edede8;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 0px solid #999;
    border: 0px solid rgba(0, 0, 0, .2);
    border-radius: 0px;
    outline: 0;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .0);
    box-shadow: 0 3px 9px rgba(0, 0, 0, .0);
}
.pin-code {
    width: 480px;
    margin: 0px auto;
}
.pin-code h4 {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 700;
    text-align: center;
    color: #000000;
}
.pin-code p {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    color: #464646;
}
.modal-textbox {
    border-radius: 2px;
    background-color: #f5f5f2;
    border: solid 1px #d9d9d4;
    box-shadow: none;
    height: 40px;
}
.modal_button {
    transition: 1s ease all;
    height: 40px;
    border-radius: 2px;
    background-color: #ec6543;
    border-color: #ec6543;
    padding: 8px;
    text-decoration: none;
    font-family: 'HansKendrick', sans-serif;
    font-size: 12px;
    font-weight: 900;
    text-align: center;
    color: #ffffff;
}
.pin-code a {
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    margin-top: 50px;
    font-family: 'HansKendrick', sans-serif;
    font-size: 12px;
    font-weight: 900;
    text-align: center;
    color: #787878;
}
.pin-code form {
    margin-top: 26px;
    width: 350px;
    margin: 0px auto;
    margin-bottom: 14px;
}
.modal-backdrop.in {
    filter: alpha(opacity=20);
    opacity: .2;
    top: 107px;
}