body {
    font-family: 'Open Sans', sans-serif;
}

@font-face {
    font-family: 'HansKendrick';
    src: url('../fonts/HansKendrick-Regular.otf');
    /* IE9 Compat Modes */
    src: url('../fonts/HansKendrick-Regular.otf') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/HansKendrick-Regular.otf') format('otf'), /* Super Modern Browsers */
}

@media (min-width: 992px) {
    .col-md-6.topmargin.col-md-offset-3 {
        width: 60%;
        margin-left: 22%;
        margin-top: 60px;
    }
}

.grey-text {
    font-size: 14px;
    color: #686868;
}

h1.head-text:before {
    content: "";
    display: block;
    width: 127px;
    margin: auto;
    margin-bottom: 16px;
    height: 15px;
    background: url(../img/svg/zigzag-border-black.svg) center no-repeat;
}

h1.head-text:after {
    content: "";
    display: block;
    margin: auto;
    width: 127px;
    height: 15px;
    background: url(../img/svg/zigzag-border-black.svg) center no-repeat;
    margin-top: 18px;
}

h1.head-text {
    font-family: 'HansKendrick', Fallback, sans-serif;
    font-size: 21px;
    font-weight: 900;
    text-align: center;
    color: #000000;
}

.row > span.pull-right {
    margin-top: 110px;
    font-family: 'HansKendrick', Fallback, sans-serif;
    font-size: 14px;
    font-weight: normal;
    color: #272727;
}

.col-md-6 .col-back {
    background-color: #f2f3f5;
}

.col-md-6 .pad-left {
    padding-left: 33px;
}

.col-md-6 .pad-right {
    padding-right: 33px;
    text-align: right;
}

.row.collections {
    margin-top: 66px;
}

.row.collections h2 {
    margin-top: 45px;
    font-family: 'HansKendrick', Fallback, sans-serif;
    font-size: 21px;
    font-weight: 900;
    letter-spacing: -0.8px;
    color: #272727;
}

.row.collections span {
    margin-top: 12px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 2px;
    color: #ca38af;
}

.row.collections p {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: normal;
    color: #686868;
    margin-top: 30px;
}

button.ghost {
    margin-top: 30px;
    font-family: 'HansKendrick', Fallback, sans-serif;
    font-size: 12px;
    font-weight: 900;
    text-align: center;
    color: #272727;
    width: 200px;
    transition: 0.5s ease;
    height: 40px;
    border-radius: 2px;
    border: solid 1px #000000;
    background-color: transparent;
}

button.ghost:hover {
    margin-top: 30px;
    font-family: 'HansKendrick', Fallback, sans-serif;
    font-size: 12px;
    font-weight: 900;
    text-align: center;
    color: #eeeeee;
    transition: 0.5s ease;
    width: 200px;
    height: 40px;
    border-radius: 2px;
    border: solid 1px #000000;
    background-color: #000000;
}

.img-responsive.img-center {
    margin: 0 auto;
}

.seperator {
    background-image: url(../img/double-zig-zag-grey.png);
    height: 16px;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 70px;
}

section.checkout {
    background-color: #f5f5f2;
    padding-top: 50px;
    padding-bottom: 50px;
}

ul.nav.check-tab.nav-tabs>li.active>a,
ul.nav.check-tab.nav-tabs>li.active>a:focus,
ul.nav.check-tab.nav-tabs>li.active>a:hover {
    font-family: 'HansKendrick', Fallback, sans-serif;
    font-size: 14px;
    font-weight: 900;
    text-align: center;
    color: #ec6543;
    cursor: pointer;
    background-color: transparent !important;
    border: 1px solid transparent;
    border-bottom-color: transparent;
    border-bottom: 2px solid #ec6543;
}

ul.nav.check-tab.nav-tabs>li>a,
ul.nav.check-tab.nav-tabs>li>a:focus,
ul.nav.check-tab.nav-tabs>li>a:hover {
    font-family: 'HansKendrick', Fallback, sans-serif;
    font-size: 14px;
    font-weight: normal;
    color: #000000;
    cursor: pointer;
    background-color: transparent !important;
    border: 1px solid transparent;
    border-bottom-color: transparent;
}

ul.nav.check-tab.nav-tabs {
    border-bottom: 0px;
}

.delivery-details {
    padding-top: 20px;
    padding-bottom: 20px;
}

.delivery-details img {
    height: 30px;
    padding-right: 10px;
}

.delivery-details span {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: normal;
    color: #464646;
}

.delivery-details a {
    font-family: 'HansKendrick', Fallback, sans-serif;
    font-size: 12px;
    font-weight: 900;
    color: #464646;
}

.panel.item > .panel-body {
    padding-left: 10px;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-right: 10px;
}

.panel.item > .panel-body span.text {
    font-family: 'Open Sans', sans-serif;
    font-size: 10px;
    font-weight: normal;
    text-align: right;
    color: #686868;
}

.panel.item > .panel-body span.text b {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: bold;
    text-align: right;
    color: #000000;
}

.panel.item > .panel-body span.glyphicon {
    font-size: 20px;
}

.panel.item > .panel-body a {
    font-size: 13px;
    color: #333;
    text-decoration: none;
}

.panel.item > .panel-body .product-title {
    width: 180px;
}

.panel.item > .panel-body .product-title h3 {
    font-family: 'HansKendrick', Fallback, sans-serif;
    font-size: 14px;
    font-weight: normal;
    letter-spacing: -0.5px;
    color: #464646;
    margin-top: 0px;
}

.panel.item > .panel-body .col-md-3 {
    padding-right: 0px;
}

.product-details .table>tbody>tr>td,
.product-details .table>tbody>tr>th,
.product-details .table>tfoot>tr>td,
.product-details .table>tfoot>tr>th,
.product-details .table>thead>tr>td,
.product-details .table>thead>tr>th {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 0px solid #ddd;
}

.product-details .table {
    margin-bottom: 0px;
    width: 0%;
}


/*will be deleted later*/

span.glyphicon-trash {
    color: #3f3f3f;
}


/*wil be deleted later*/

.col-md-7.pad-right,
.col-md-8.pad-right {
    padding-right: 40px;
}

.col-md-5.pad-left,
.col-md-4.pad-left {
    padding-left: 30px;
}

.panel.summary h2 {
    font-family: 'HansKendrick', Fallback, sans-serif;
    font-size: 21px;
    font-weight: normal;
    text-align: center;
    color: #686868;
    text-align: center;
}

.panel.summary h2:after {
    content: "";
    display: block;
    margin: auto;
    width: 110px;
    height: 15px;
    background: url(../img/svg/zigzag-border-black.svg) center no-repeat;
    margin-top: 16px;
}

.panel.summary .summary-details {
    padding-left: 50px;
    padding-right: 50px;
}

.panel.summary .summary-details span {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: normal;
    color: #686868;
}

.panel.summary .summary-details span.pull-right {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 600;
    text-align: right;
    color: #000000;
}

.panel.summary .summary-details p a.redtext {
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    font-size: 14px;
    font-weight: normal;
    color: #ec6543;
    text-align: center;
}

.panel.summary .summary-details p a.redtext:after {
    content: "";
    display: block;
    margin: auto;
    height: 15px;
    background: url(../img/svg/zigzag-border-grey.svg) center no-repeat;
    margin-top: 16px;
}

hr.line {
    border: solid 1px #f5f5f2;
    margin-top: 8px;
}

.panel.summary .summary-details .total span {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: bold;
    text-align: right;
    color: #000000;
}

.basket_button {
    transition: 1s ease all;
    margin-top: 17px;
    height: 40px;
    border-radius: 2px;
    background-color: #ec6543;
    border-color: #ec6543;
    padding: 8px;
    text-align: center;
    color: #fff;
    text-decoration: none;
    font-family: 'HansKendrick', sans-serif;
}

button.btn.basket_button {
    width: 85%;
    margin-right: 20px;
    margin-left: 20px;
    font-family: 'HansKendrick', sans-serif;
    font-size: 12px;
    font-weight: 900;
    text-align: center;
    color: #ffffff;
}

.income-details span {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: normal;
    color: #787878;
}

.income-details span b {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 900;
    color: #000000;
}

.income-details .table {
    margin-bottom: 0px;
    margin-top: 30px;
}


/*vijay css*/


/*
.clock {
    padding-left: 150px !important;
}
*/

.types_product li {
    list-style: none;
}

.type_heading {
    margin-left: 40px;
    margin-top: 40px;
}

.Oval-12 {
    width: 30px;
    height: 30px;
    background-color: #2a5f5b;
    border-radius: 50%;
    margin-left: 55px;
    float: left;
}

.Oval-12-Copy {
    width: 30px;
    height: 30px;
    background-color: #59513c;
    border-radius: 50%;
    margin-left: 10px;
    float: left;
}

.Oval-12-Copy-2 {
    width: 30px;
    height: 30px;
    background-color: #7f2828;
    border-radius: 50%;
    margin-left: 10px;
    float: left;
}

.Oval-12-Copy-3 {
    width: 30px;
    height: 30px;
    background-color: #b29f23;
    border-radius: 50%;
    margin-left: 10px;
    float: left;
}

.Oval-12-Copy-4 {
    width: 30px;
    height: 30px;
    background-color: #4c3535;
    border-radius: 50%;
    margin-left: 55px;
    float: left;
    margin-top: 10px;
}

.Oval-12-Copy-6 {
    width: 30px;
    height: 30px;
    background-color: #1e3328;
    border-radius: 50%;
    margin-left: 10px;
    float: left;
    margin-top: 10px;
}

.Oval-12-Copy-5 {
    width: 30px;
    height: 30px;
    background-color: #5b3563;
    border-radius: 50%;
    margin-left: 10px;
    float: left;
    margin-top: 10px;
}

.product_side_menu:after {
    background: url(../img/svg/zigzag-border-black.svg) repeat-x;
    width: 100%;
    height: 20px;
    margin-left: 12px;
    margin-top: 20px;
}

.Oval-12-Copy-7 {
    width: 30px;
    height: 30px;
    background-color: #8e641f;
    border-radius: 50%;
    margin-left: 10px;
    float: left;
    margin-top: 10px;
}

.heading_product_strip:before {
    background: url(../img/svg/zigzag-border-black.svg) no-repeat;
    width: 100px;
    height: 20px;
}

.heading_product_strip1 {
    background: url(../img/svg/zigzag-border-black.svg) no-repeat;
    width: 100px;
    height: 20px;
}

.product_div {
    margin-top: 45px;
}

.heading_product h1 {
    font-family: 'HansKendrick', Fallback, sans-serif;
    font-size: 21px;
    font-weight: 500;
    color: #686868;
}

.catergory {
    font-size: 14px;
    font-weight: normal;
    color: #000000;
    ;
    text-align: right;
    font-family: 'HansKendrick', sans-serif;
    cursor: pointer;
    position: absolute;
    right: 0;
}

.product_list {
    margin-top: 70px;
}

.img-area {
    height: 300px;
    padding: 30px;
    background: #f5f5f2;
}

.img-area img {
    margin-top: 50px;
    height: 148.7px;
}

img.img-responsive.bookmark {
    margin: -15px;
    float: right;
    height: initial;
}

.handcrafted {
    font-family: 'HansKendrick', sans-serif;
    font-size: 16px;
    font-weight: normal;
    letter-spacing: -0.6px;
    color: #464646;
}

.margin_product p {
    font-family: 'HansKendrick', sans-serif;
}

.Rs {
    font-size: 12px;
    font-weight: bold;
    text-align: right;
    color: #000000;
    margin-top: 10px;
    font-family: 'Open Sans', sans-serif !important;
}

a.center-block.basket_button {
    transition: 1s ease all;
    margin-top: 17px;
    height: 40px;
    border-radius: 2px;
    background-color: #ec6543;
    border-color: #ec6543;
    padding: 8px;
    text-align: center;
    color: #fff;
    text-decoration: none;
    opacity: 0;
    font-family: 'HansKendrick', sans-serif;
}

a.center-block.basket_button:hover {
    text-decoration: none;
    color: #fff;
}

.basket_button:focus {}

.margin_product:hover .basket_button {
    transition: 1s ease all;
    opacity: 1;
}

.margin_product {
    margin-bottom: 50px;
}


/*
.product_row {
    margin-bottom: 50px;
}
*/

.product_details {
    margin-top: 19px;
}

li strong {
    font-family: 'Open Sans', sans-serif !important;
    font-size: 14px;
    font-weight: 800;
    letter-spacing: 2px;
    color: #969696;
}

.sort_drop {
    right: -5px;
    left: initial;
    box-shadow: none;
    border-radius: 0;
    border: 1px solid #000;
    padding: 14px 10px;
    text-align: center;
    top: 26px;
    width: 160px;
    font-family: 'HansKendrick', sans-serif;
}

.sort_drop li {
    cursor: pointer;
    color: #000;
}

.selected {
    font-family: 'HansKendrick', sans-serif;
    font-size: 14px;
    font-weight: normal;
    text-align: center;
    color: #ec6543 !important;
    color: var(--interactive-orange);
}

.divider {
    margin: 14px 0px !Important;
    border: solid 1px #edede8;
    width: 139px !important;
}

.category_drop {
    position: absolute;
    z-index: 2;
    width: 321px;
    height: 138.6px;
    background-color: #ffffff;
    border: solid 1px #000000;
    right: -85px;
    left: initial;
    box-shadow: none;
    border-radius: 0;
    border: 1px solid #000;
    padding: 14px 56px;
    text-align: center;
    top: 26px;
    font-family: 'HansKendrick', sans-serif;
    display: none;
}

.category_drop p {
    font-family: 'HansKendrick', sans-serif;
}

.email_information {
    font-family: 'Open Sans', sans-serif !important;
    font-size: 12px;
    font-weight: normal;
    text-align: center;
    color: #686868;
}

.like_text {
    color: #272727;
}

.social_row {
    margin: 0px;
}

@media(max-width:768px) {
    .hidden-phone {
        display: none;
    }
    .footer_menu:before {
        width: 100%;
    }
    .footer_menu:after {
        width: 100%;
    }
    .catergory {
        text-align: center;
        position: initial;
    }
    .category_drop {
        right: 0;
        left: 0;
        width: 100%;
        height: auto;
    }
    .sort_drop {
        right: 0;
        left: 0;
        width: 100%;
        height: auto;
    }
    .divider {
        width: 100% !important;
    }
}

.main_product {
    background-color: #f5f5f2;
    padding: 50px;
}

.main_product_heading {
    margin: 35px 41px;
    font-family: 'HansKendrick', sans-serif;
    font-size: 21px;
    font-weight: normal;
    color: #464646;
}

.main_product_heading_rs {
    margin: 33px 47px;
    font-size: 21px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    color: #ec6543;
}

.main_product_social {
    margin-top: 47px;
}

.main_product_social img {
    margin-right: 23px;
}

.income_artisian {
    padding: 10px;
    border-radius: 2px;
    background-color: #f5f5f2;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: normal;
    color: #787878;
}

.income_artisian strong {
    color: #000;
}

.basket_income_artisian {
    padding: 10px;
    border-radius: 2px;
    background-color: #f5f5f2;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: normal;
    color: #787878;
}

.basket_income_artisian strong {
    color: #000;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    letter-spacing: 0px;
}

#amount_value {
    width: 40px;
    text-align: center;
    outline: none;
    border: 0px;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: #000000;
}

.increment_decrement {
    width: 40px;
    height: 40px;
    border-radius: 2px;
    background-color: #f5f5f2;
    border: 0px;
    outline: none;
    color: #686868;
    font-size: 26px;
}

.quantity_p {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: normal;
    color: #464646;
    margin: 0 0 5px;
}

.quantity_row {
    margin-top: 21px;
}

input#pin_code {
    border-radius: 2px;
    background-color: #f5f5f2;
    border: 0;
    height: 40px;
    width: 145px;
    outline: none;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: normal;
    text-align: center;
    color: #000000;
}

.pin_button {
    width: 97px;
    height: 41px;
    border-radius: 2px;
    background-color: #686868;
    border: 0px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 900;
    text-align: center;
    color: #ffffff;
    font-family: 'HansKendrick', sans-serif;
    outline: none;
    margin-left: -3px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

input#pin_code::-webkit-input-placeholder {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: normal;
    text-align: center;
    color: #afafad;
}

input#pin_code:-moz-placeholder {
    /* Firefox 18- */
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: normal;
    text-align: center;
    color: #afafad;
}

input#pin_code::-moz-placeholder {
    /* Firefox 19+ */
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: normal;
    text-align: center;
    color: #afafad;
}

input#pin_code:-ms-input-placeholder {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: normal;
    text-align: center;
    color: #afafad;
}

input.product_form_input::-webkit-input-placeholder,
.text_area_form::-webkit-input-placeholder {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 300;
    font-style: italic;
    line-height: 1.57;
    color: #686868;
}

input.product_form_input:-moz-placeholder,
.text_area_form:-moz-placeholder {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 300;
    font-style: italic;
    line-height: 1.57;
    color: #686868;
}

input.product_form_input::-moz-placeholder,
.text_area_form::-moz-placeholder {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 300;
    font-style: italic;
    line-height: 1.57;
    color: #686868;
}

input.product_form_input:-ms-input-placeholder,
.text_area_form:-ms-input-placeholder {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 300;
    font-style: italic;
    line-height: 1.57;
    color: #686868;
}

input.cart_form::-webkit-input-placeholder,
.cart_form_textarea::-webkit-input-placeholder {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 300;
    color: #686868;
}

input.cart_form:-moz-placeholder,
.cart_form_textarea:-moz-placeholder {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 300;
    color: #686868;
}

input.cart_form::-moz-placeholder,
.cart_form_textarea::-moz-placeholder {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 300;
    color: #686868;
}

input.cart_form:-ms-input-placeholder,
.cart_form_textarea:-ms-input-placeholder {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 300;
    color: #686868;
}

.add_bag {
    margin-top: 24px;
}

.add_bag .col-md-5 {
    width: 37%;
}

.add_to_bag,
.out_of_stock,
.pre_order {
    border: 1px solid #ec6543;
    width: 100%;
    height: 40px;
    border-radius: 2px;
    background-color: #ec6543;
    outline: none;
    font-family: 'HansKendrick', sans-serif;
    font-size: 12px;
    font-weight: 900;
    text-align: center;
    color: #ffffff;
}

.out_of_stock {
    opacity: 0.3;
}

.product_des {
    margin: 12px 0px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.57;
    color: #686868;
}

.product_des span {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.57;
    color: #000000;
}

.product_view {
    border-bottom: solid 1px #edede8;
}

.main_product_col {
    width: 64%;
}

.product_story {
    margin: 57px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 800;
    letter-spacing: 2px;
    text-align: center;
    color: #787878;
}

.product_story_des {
    font-family: 'HansKendrick', sans-serif;
    font-size: 21px;
    font-weight: 300;
    line-height: 1.43;
    text-align: center;
    color: #000000;
    padding: 0px 73px;
}

.about_image {
    min-width: 100%;
}

.about_des {
    margin-top: 70px;
    background-color: #edede8;
}

.about_head {
    font-family: 'HansKendrick', sans-serif;
    font-size: 28px;
    font-weight: 300;
    letter-spacing: -1px;
    color: #272727;
    margin: 55px 75px 0px;
}

.about_sub_head {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 800;
    letter-spacing: 2px;
    color: #272727;
    margin: 5px 75px;
}

.about_sub_des {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.57;
    color: #464646;
    margin: 20px 76px;
}

.text-right-des {
    text-align: right;
}

.bottom_about {
    margin-top: 70px;
    border: solid 1px #edede8;
}

.seperator-single {
    background-image: url(../img/svg/zigzag-unit-black.svg);
    height: 16px;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 70px;
}

.seperator-pink {
    background-image: url(../img/zigzag-basic-unit-pink.png);
    height: 16px;
    background-repeat: no-repeat;
    margin-top: 20px;
}

.product_form {
    margin: 50px 40px;
    border: solid 1px #d9d9d4;
    padding: 60px;
    margin-bottom: 0px;
}

.product_form_head {
    font-family: 'HansKendrick', sans-serif;
    font-size: 28px;
    font-weight: normal;
    letter-spacing: -1px;
    color: #272727;
}

.product_form_des {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.57;
    color: #464646;
    margin-top: 20px;
    padding-right: 50px;
}

.product_form_input {
    border-radius: 2px;
    background-color: #f5f5f2;
    border: solid 1px #d9d9d4;
    width: 100%;
    height: 40px;
    margin-top: 15px;
    padding-left: 13px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 300;
    font-style: italic;
    line-height: 1.57;
    color: #686868;
}

.text_area_form {
    width: 100%;
    height: 180px;
    border-radius: 2px;
    background-color: #f5f5f2;
    border: solid 1px #d9d9d4;
    margin-top: 0px;
    padding: 12px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 300;
    font-style: italic;
    line-height: 1.57;
    color: #686868;
}

.form_product_submit {
    display: block;
    margin: auto;
    width: 180px;
    height: 40px;
    border-radius: 2px;
    background-color: #d400ad;
    border: 0;
    margin-top: 40px;
    color: #fff;
    font-family: 'HansKendrick', sans-serif;
    font-size: 12px;
    font-weight: 900;
    text-align: center;
}

#owl-demo .item {
    padding: 0px;
    margin: 10px;
    color: #FFF;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

#owl-demo1 .item {
    padding: 0px;
    margin: 10px;
    color: #FFF;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.customNavigation {
    text-align: center;
}

.customNavigation a {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

span.num,
span.num1 {
    font-family: 'HansKendrick', sans-serif;
    font-size: 16px;
    font-weight: normal;
    letter-spacing: -0.6px;
    text-align: center;
    color: #464646;
}

a#prev2,
a#prev1 {
    margin-top: -5px;
}

a#next2,
a#next1 {
    margin-top: -5px;
}

.shop_more {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 800;
    letter-spacing: 2px;
    color: #787878;
    margin-left: -5px;
}

.see-all {
    font-family: 'HansKendrick', sans-serif;
    font-size: 14px;
    font-weight: 900;
    line-height: 1.79;
    text-align: right;
    color: #000000;
}

.slider_top {
    margin-top: 100px;
}

img.img-responsive.product_view_image {
    border: 2px solid transparent;
}

.selected-image {
    border: solid 2px #ec6543 !important;
    background-color: #fff;
}

.hand-made-badge {
    position: absolute;
    bottom: 85px;
}

.income_artisian span.pull-right {
    font-size: 25px;
    margin: -10px 1px;
    cursor: pointer;
}

.pin_code_after {
    width: 92% !important;
    color: #000000 !important;
}

.pin_prev {
    background: #f5f5f2;
    margin-right: -5px;
    height: 40px;
    border-radius: 0px;
    width: 17px;
    padding: 12px;
    display: none;
}

.add_to_basket {
    position: absolute;
    width: 100px;
    text-align: center;
    left: -60px;
    width: 165.5px;
    height: 47px;
    border-radius: 2px;
    background-color: #ec6543;
    font-family: 'HansKendrick', sans-serif;
    font-size: 14px;
    font-weight: normal;
    text-align: center;
    color: #ffffff;
    padding: 14px 8px;
    display: none;
    bottom: -42px;
}

.add_to_basket_before {
    position: relative;
    display: none;
    bottom: 1px;
}

.add_to_basket_before:after,
.add_to_basket_before:before {
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.add_to_basket_before:after {
    border-color: transparent;
    border-bottom-color: #ec6543;
    border-width: 10px;
    margin-left: 12px;
}

.size_div {
    width: 66px;
    height: 40px;
    border-radius: 2px;
    background-color: #f5f5f2;
    float: left;
    margin-right: 10px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #000000;
    padding: 10px 0px;
    text-align: center;
    cursor: pointer;
}

.size_selected {
    border-radius: 2px;
    background-color: #ec6543;
    color: #fff;
}

.color_div1 {
    width: 66px;
    height: 40px;
    border-radius: 2px;
    background-color: #798893;
    float: left;
    margin-right: 10px;
    cursor: pointer;
}

.color_selected {
    border-radius: 2px;
    background-image: url('../img/svg/selected-pattern.svg');
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
    border: solid 2px #ec6543;
}

.color_div2 {
    width: 66px;
    height: 40px;
    border-radius: 2px;
    background-color: #8b7c5d;
    float: left;
    margin-right: 10px;
    cursor: pointer;
}

.care_instruction .col-md-4 {
    text-align: center;
}

.care_instruction {
    background-color: #f5f5f2;
    padding: 60px;
    margin: 50px;
}

.care_instruction .col-md-4 span {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 800;
    letter-spacing: 2px;
    text-align: center;
    color: #272727;
}

.care_instruction .col-md-4 img.img-responsive.center-block {
    margin-bottom: 20px;
}

.care_instruction .col-md-8 span {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.57;
    color: #686868;
}

.zoom {
    transition: 1s ease all;
    transform: scale3d(2, 2, 2);
}

.zoom_button {
    position: absolute;
    left: 50%;
    top: 30%;
    z-index: 9;
    cursor: pointer;
}

.product_view_image_full {
    width: 520px;
    transition: 1s ease all;
}

.main_product_image_div {
    overflow: hidden;
}

.progress {
    height: 4px;
}

.progress-bar:nth-last-child(5) {
    border-radius: 4px;
    background-color: #74c700;
    border-right: 2px solid
}

.progress-bar:nth-last-child(4) {
    border-radius: 4px;
    background-color: #ffc900;
    border-right: 2px solid
}

.progress-bar:nth-last-child(3) {
    border-radius: 4px;
    background-color: #e5b500;
    border-right: 2px solid
}

.progress-bar:nth-last-child(2) {
    border-radius: 4px;
    background-color: #ad8901;
    border-right: 2px solid
}

.progress-bar:nth-last-child(1) {
    border-radius: 4px;
    background-color: #7f6502;
}

#arcs1 {
    border: 2px solid #000;
    display: inline-block;
    min-width: 4em;
    min-height: 4em;
    padding: 0.5em;
    border-radius: 50%;
}

#arcs2 {
    border: 2px solid red;
    display: inline-block;
    min-width: 4em;
    min-height: 4em;
    padding: 0.5em;
    border-radius: 50%;
}

#arcs3 {
    border: 2px solid yellow;
    display: inline-block;
    min-width: 4em;
    min-height: 4em;
    padding: 0.5em;
    border-radius: 50%;
}

#arcs4 {
    border: 2px solid orange;
    display: inline-block;
    min-width: 4em;
    min-height: 4em;
    padding: 0.5em;
    border-radius: 50%;
}

#arcs5 {
    border: 2px solid green;
    display: inline-block;
    min-width: 4em;
    min-height: 4em;
    padding: 0.5em;
    border-radius: 50%;
}

.dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #74c700;
    padding: 6px;
    margin: 5px;
}

.dot1 {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #ffc900;
    padding: 6px;
    margin: 5px;
}

.dot2 {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #e5b500;
    padding: 6px;
    margin: 5px;
}

.dot3 {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #ad8901;
    padding: 6px;
    margin: 5px;
}

.dot4 {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #7f6502;
    padding: 6px;
    margin: 5px;
}

.dot5 {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #d9d9d4;
    padding: 6px;
    margin: 5px;
}

.rupee,
.rupee1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 700;
    color: #599900;
}

.income,
.income1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 11px;
    font-weight: 400;
    color: #599900;
}

.rupee2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 700;
    color: #464646;
}

.income2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: #272727;
}

.rupee1,
.income1 {
    color: #686868;
}

.circle_show {
    background: #f5f5f2;
    width: 100%;
    height: auto;
    margin-top: -20px;
    padding-top: 15px;
    display: none;
}

.progress_bar_after {
    display: none;
}

.circle_show_after {
    display: block
}

.income_circle_des {
    font-family: 'Open Sans', sans-serif;
    font-size: 9px;
    font-weight: 400;
    line-height: 1.11;
    color: #8c8c8c;
    margin-top: 5px;
}

.learn_more span {
    font-weight: 600;
    color: #000000;
}

.learn_more {
    font-family: 'Open Sans', sans-serif;
    font-size: 10px;
    line-height: 1.3;
    text-align: center;
    padding: 10px;
}

.circle_bottom_after {
    display: none;
}

.basket_list {
    position: absolute;
    height: 434px;
    background: #fff;
    z-index: 9;
    overflow: hidden;
    overflow-y: auto;
    width: 386px;
}

.arrow_box {
    background: #fff;
    position: absolute;
    width: 371px;
    height: 550px;
    z-index: 9999999;
    right: -111px;
    border: 1px solid #d9d9d4;
    display: none;
}

.arrow_box:after,
.arrow_box:before {
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.arrow_box_after {
    display: block;
}

.arrow_box:after {
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #fff;
    border-width: 10px;
    margin-left: 37px;
}

.arrow_box:before {
    border-color: rgba(217, 217, 212, 0);
    border-bottom-color: #d9d9d4;
    border-width: 11px;
    margin-left: 36px;
}

.name_basket {
    font-family: 'HansKendrick', sans-serif;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: -0.5px;
    color: #464646;
}

.basket_img {
    background-color: #f5f5f2;
    padding: 10px;
}

.quantity_basket {
    font-family: 'Open Sans', sans-serif !important;
    font-size: 10px !important;
    font-weight: 400 !important;
    color: #686868 !important;
}

p.name_basket,
p.quantity_basket,
p.quantity_no,
p.sub_total_cost,
p.sub_total {
    border: none !Important;
    margin: 0px;
    text-align: left !important;
    padding: 0px !important;
    padding-left: 20px !important;
}

p.quantity_basket {
    padding-top: 10px !important;
}

p.quantity_no {
    font-family: 'Open Sans', sans-serif !important;
    font-size: 12px !important;
    font-weight: 700 !important;
    color: #000000 !important;
}

p.sub_total_cost {
    font-family: 'Open Sans', sans-serif !important;
    font-size: 12px !important;
    font-weight: 700 !important;
    text-align: right !important;
    color: #000000 !important;
}

p.sub_total {
    font-family: 'Open Sans', sans-serif !important;
    font-size: 10px !important;
    font-weight: 400 !important;
    text-align: right !important;
    color: #686868 !important;
}

.basket_hr {
    margin-top: 15px;
    margin-bottom: 15px;
    border: 0;
    border-top: 1px solid #eee;
    margin-right: -20px;
    margin-left: -20px;
}

.scroll_hide {
    width: 370px;
    height: 470px;
    overflow: hidden;
    position: absolute;
    border-top: none;
    padding: 15px;
    padding-left: 2px;
    border-right: 1px solid #d9d9d4;
}

.checkout_div {
    position: absolute;
    bottom: 0px;
    width: 100%;
    border-top: 1px solid #d8d8d8;
    margin: 0px;
}

button.check_out {
    padding: 0px;
    margin: 10px;
    width: 198.9px;
    height: 40px;
    border-radius: 2px;
    background-color: #ec6543;
    border: 0px;
    margin-left: 85.5px;
    font-family: 'HansKendrick', sans-serif;
    font-size: 12px;
    font-weight: 900;
    text-align: center;
    color: #ffffff;
    outline: none;
}


/*vijay css*/


/*checkout*/

.top_bar .top-bar-checkout h3 {
    font-family: 'HansKendrick', sans-serif;
    font-size: 21px;
    font-weight: 400;
    letter-spacing: -1px;
    text-align: center;
    color: #686868;
}

.top_bar .top-bar-checkout p {
    font-family: 'HansKendrick', sans-serif;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    color: #686868;
}

.modal-backdrop.in {
    filter: alpha(opacity=20);
    opacity: .2;
    top: 107px;
}

@media (min-width: 768px) {
    .modal-dialog {
        width: 1000px;
        margin: 30px auto;
    }
}

@media (min-width: 768px) .modal-content {
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .0);
    box-shadow: 0 5px 15px rgba(0, 0, 0, .0);
}

.modal-content {
    padding: 24px;
    position: relative;
    background-color: #edede8;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 0px solid #999;
    border: 0px solid rgba(0, 0, 0, .2);
    border-radius: 0px;
    outline: 0;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .0);
    box-shadow: 0 3px 9px rgba(0, 0, 0, .0);
}

.modal-textbox {
    border-radius: 2px;
    background-color: #f5f5f2;
    border: solid 1px #d9d9d4;
    box-shadow: none;
    height: 40px;
}

.user-textbox {
    border-radius: 2px;
    background-color: #f5f5f2;
    border: solid 1px #d9d9d4;
    box-shadow: none;
    height: 40px;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: #464646;
}

textarea.user-textbox {
    height: 80px;
    resize: none;
}

.modal-textbox::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    text-align: center;
}

.modal-textbox::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    text-align: center;
}

.modal-textbox::-moz-placeholder {
    /* Firefox 19+ */
    text-align: center;
}

.modal-textbox:-ms-input-placeholder {
    /* IE 10+ */
    text-align: center;
}

.modal-textbox:-moz-placeholder {
    /* Firefox 18- */
    text-align: center;
}

.modal_button {
    transition: 1s ease all;
    height: 40px;
    border-radius: 2px;
    background-color: #ec6543;
    border-color: #ec6543;
    padding: 8px;
    text-decoration: none;
    font-family: 'HansKendrick', sans-serif;
    font-size: 12px;
    font-weight: 900;
    text-align: center;
    color: #ffffff;
}

.pin-code {
    width: 480px;
    margin: 0px auto;
}

.pin-code h4 {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 700;
    text-align: center;
    color: #000000;
}

.pin-code p {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    color: #464646;
}

.pin-code form {
    margin-top: 26px;
    width: 350px;
    margin: 0px auto;
    margin-bottom: 14px;
}

.pin-code a {
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    margin-top: 50px;
    font-family: 'HansKendrick', sans-serif;
    font-size: 12px;
    font-weight: 900;
    text-align: center;
    color: #787878;
}

.checkout-modal {
    top: 77px;
}

.trash {
    height: 24px;
    opacity: 0.8;
}

.item h4 {
    font-family: 'HansKendrick', sans-serif;
    font-size: 21px;
    font-weight: 400;
    line-height: 1.19;
    letter-spacing: -1px;
    text-align: center;
    color: #686868;
}

.item p.anchor a {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px !important;
    font-weight: 400;
    text-align: center;
    color: #2baca3 !important;
}

.btn-google {
    font-family: 'HansKendrick', sans-serif;
    font-size: 12px;
    font-weight: 900;
    text-align: center;
    color: #ffffff;
    width: 200px;
    height: 40px;
    border-radius: 2px;
    background-color: #de4937;
    background-image: url(../img/google-plus.png);
    background-repeat: no-repeat;
}

.btn-facebook {
    font-family: 'HansKendrick', sans-serif;
    font-size: 12px;
    font-weight: 900;
    text-align: center;
    color: #ffffff;
    width: 200px;
    height: 40px;
    border-radius: 2px;
    background-color: #47619d;
    background-image: url(../img/facebook.png);
    background-repeat: no-repeat;
    background-position: 3px 0px;
}

.btn-google:hover,
.btn-google:focus {
    color: rgba(255, 255, 255, 0.8);
    background-image: url(../img/google-plus.png);
    background-repeat: no-repeat;
}

.btn-facebook:hover,
.btn-facebook:focus {
    color: rgba(255, 255, 255, 0.8);
    background-image: url(../img/facebook.png);
    background-repeat: no-repeat;
    background-position: 3px 0px;
}

.border-right {
    border-right: solid 1px #d9d9d4;
}

.text-box-login {
    width: 197px !important;
    height: 40px;
    border-radius: 2px;
    border: solid 1px #d9d9d4;
}

.btn-green {
    height: 40px;
    border-radius: 2px;
    background-color: #3dd9ce;
    font-family: 'HansKendrick', sans-serif;
    font-size: 12px;
    font-weight: 900;
    text-align: center;
    color: #ffffff;
}

.navbar-form {
    margin-top: 26px;
}

.navbar-form p {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: #686868;
}

p.forgot-pass {
    margin-bottom: -17px;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 400;
    text-align: right;
    color: #2baca3 !important;
}

p.forgot-pass a {
    color: #2baca3 !important;
}

.btn-link {
    font-family: 'HansKendrick', sans-serif;
    text-decoration: none;
    font-size: 12px;
    outline: none;
    font-weight: 900;
    text-align: center;
    color: #464646;
}

.btn-link:hover,
.btn-link:focus,
.btn-link:active,
.btn-link:active:focus {
    font-family: 'HansKendrick', sans-serif;
    outline: 0px auto -webkit-focus-ring-color;
    outline-offset: 0px;
    text-decoration: none;
    font-size: 12px;
    outline: none;
    font-weight: 900;
    text-align: center;
    color: #464646;
}

#cart-forgot {
    display: none;
}

.cart_forgot {
    display: block !important;
}

.cart_login {
    display: none
}

a:focus {
    outline: none;
    outline: 0px auto -webkit-focus-ring-color;
    outline-offset: 0px;
}

.panel.login {
    padding-bottom: 57px;
}


/*checkout*/


/*cart*/

.col-md-7.pad-right span.logged_in_as,
.col-md-8.pad-right span.logged_in_as {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.79;
    color: #686868;
}

.col-md-7.pad-right span.change,
.col-md-8.pad-right span.change {
    font-family: 'HansKendrick', sans-serif;
    font-size: 12px;
    font-weight: 900;
    text-align: right;
    color: #464646;
    cursor: pointer;
}

.pad-right .container-fluid.cart {
    padding: 30px;
    background: #fff;
    margin-top: 21px;
    font-family: 'HansKendrick', sans-serif;
    font-size: 21px;
    font-weight: 400;
    line-height: 1.19;
    letter-spacing: -1px;
    text-align: center;
    color: #686868;
    opacity: 1;
}

.cart_next_then {
    padding: 25px !important;
    opacity: 0.5 !important;
    font-family: 'HansKendrick', sans-serif;
    font-size: 21px;
    font-weight: 400;
    line-height: 1.19;
    letter-spacing: -1px;
    text-align: center;
    color: #686868;
}

.cart_form {
    width: 140px;
    height: 40px;
    border-radius: 2px;
    border: solid 1px #d9d9d4;
    box-shadow: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: #464646;
}

.cart_form_textarea {
    height: 80px !important;
    border-radius: 2px;
    border: solid 1px #d9d9d4;
    resize: none;
    box-shadow: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: #464646;
}

.shipping_state {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 2.08;
    text-align: center;
    color: #000000;
}

.deleviery_button {
    height: 40px;
    border-radius: 2px;
    background-color: #ec6543;
    border: none;
    width: 140px;
    margin-top: 5px;
    font-family: 'HansKendrick', sans-serif;
    font-size: 12px;
    font-weight: 900;
    text-align: center;
    color: #ffffff;
}

.address {
    width: 209.6px;
    height: 141.2px;
    border-radius: 8px;
    border: solid 1px #edede8;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.58;
    color: #686868;
    text-align: left;
    padding: 15px 25px;
    margin-bottom: 15px;
    cursor: pointer;
}

.address_select {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.79;
    text-align: center;
    color: #686868;
}

.new_address {
    border-radius: 2px;
    border: solid 1px #000000;
    font-family: 'HansKendrick', sans-serif;
    font-size: 12px;
    font-weight: 900;
    text-align: center;
    color: #272727;
    background: transparent;
    margin-bottom: 25px;
}

.address_selected {
    border: solid 1px #ec6543;
}

.deliver_button {
    margin-top: 0px;
    width: 138.8px;
    height: 40px;
    border-radius: 2px;
    background-color: #ec6543;
    border: none;
    font-family: 'HansKendrick', sans-serif;
    font-size: 12px;
    font-weight: 900;
    text-align: center;
    color: #ffffff;
    outline: none;
    margin-bottom: 15px;
    display: none;
}

.address_selected_button {
    display: block;
}

.deliver_button_position {
    transform: translate(120px) !important
}

.review_top {
    margin-bottom: 5px;
    margin-top: 5px;
    border-color: #d9d9d4;
}

.review_item {
    margin-top: 20px;
}

.review_heading {
    text-align: center;
    font-family: 'HansKendrick', sans-serif;
    font-size: 21px;
    font-weight: 400;
    line-height: 1.19;
    letter-spacing: -1px;
    text-align: center;
    color: #686868;
}

.bottom_review {
    text-align: center;
}

.bottom_review img {
    margin-top: -5px;
}

.proceed_to_payment {
    margin-top: 10px;
    border-radius: 2px;
    background-color: #ec6543;
    font-family: 'HansKendrick', sans-serif;
    font-size: 12px;
    font-weight: 900;
    text-align: center;
    color: #ffffff;
    border: none;
    padding: 10px;
    margin-bottom: 10px;
}

.zig {
    background: url(../img/zigzag-border-grey.png) center no-repeat;
    height: 20px;
    border: none;
}

.panel.summary:after {
    background: linear-gradient(-50deg, #f5f5f2 16px, transparent 0), linear-gradient(50deg, #f5f5f2 16px, transparent 0);
    background-position: left-bottom;
    background-repeat: repeat-x;
    background-size: 10px 31px;
    content: " ";
    display: block;
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 32px;
}

.payment_option li {
    background: #F5F5F2;
    border-bottom: 1px solid #EDEDE8;
    display: block;
    width: 100%;
}

.payment_option li a {
    margin-right: 0px;
    border: 1px solid #EDEDE8;
    border-bottom: none;
    border-radius: 0px;
}

ul.nav.nav-tabs.payment_option li.active a {
    border: none;
    font-family: 'HansKendrick', sans-serif;
    font-size: 14px;
    font-weight: 900;
    line-height: 1.79;
    color: #ec6543;
}

ul.nav.nav-tabs.payment_option li a {
    font-family: 'HansKendrick', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.79;
    letter-spacing: -0.7px;
    color: #464646;
}

.payment_form {
    box-shadow: none;
    height: 40px;
    border-radius: 2px;
    border: solid 1px #d9d9d4;
}

.payment_div_col-md-4 .row {
    margin-left: 0px;
}

.payment_full {
    background: #F5F5F2;
    padding: 0px;
    border: 1px solid #e8e8e5;
}

.payment_options {
    padding: 0px;
}

.col-md-8.payment_back {
    padding-top: 40px;
    padding-bottom: 40px;
    background: #fff;
    margin: 0px;
}

.payment_item {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
}

.payment_success_div {
    padding: 40px;
    background-color: #f5f4f2;
}

.payment_success_div img.success_img {
    padding-top: 35px;
}

.success_border {
    height: 10px;
}

.order_placed {
    font-family: 'HansKendrick', sans-serif;
    font-size: 21px;
    font-weight: 900;
    line-height: 1.19;
    color: #74c700;
    margin-bottom: 15px;
}

.transaction_id {
    font-family: 'HansKendrick', sans-serif;
    font-size: 14px;
    font-weight: 900;
    line-height: 1.79;
    color: #686868;
    padding-top: 15px;
}

.success_des {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.33;
    color: #686868;
}

.income_ar_success {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: #787878;
}

.income_ar_success1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.33;
    color: #686868;
    padding: 10px;
    display: block;
}

.van_success {
    display: block;
    float: left;
    margin-right: 15px;
    padding-top: 10px;
}

.track_download {
    margin-bottom: 30px;
}

.row.track_download .container-fluid button {
    width: 183px;
}

.total_impact {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.33;
    color: #686868;
    margin-top: 20px;
}

.success_days {
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    font-weight: 300;
    color: #686868;
}

.success_days1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #686868;
}

.img_badge {
    display: block;
    float: left;
    margin-right: 10px;
}

.bank_logo {
    padding: 20px;
    padding-left: 60px;
    padding-right: 35px;
}

.bank_logo img {
    width: 67px;
    height: 36px;
}


/*cart*/


/*User Account*/

.useraccout .col-md-2.useraccount_options {
    width: 12%;
}

.container-fluid.useraccout {
    margin: 0% 6%;
}

.useraccout .col-md-2.useraccount_options li a {
    text-align: right;
}

ul.nav.nav-tabs.payment_option.useraccount_options li.active a {
    border: none;
    font-family: 'HansKendrick', sans-serif;
    font-size: 14px;
    font-weight: 900;
    line-height: 1.79;
    color: #ec6543;
    background: transparent;
    border: solid 1px #edede8;
    border-left: solid 3px #ec6543;
}

h2.impact_created {
    font-family: 'HansKendrick', sans-serif;
    font-size: 21px;
    font-weight: 400;
    color: #686868;
}

.seperator_single {
    background-image: url(../img/zigzag-border-grey.png);
    height: 16px;
    background-repeat: no-repeat;
    width: 100px;
}

.impact_des {
    width: 380px;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: #686868;
    padding: 7px 20px;
    border-left: solid 3px #74c700;
    margin-bottom: 50px;
}

.employment_seal {
    border-radius: 2px;
    box-shadow: inset 0 1px 30px 0 rgba(0, 0, 0, 0.03);
    border: solid 1px #d9d9d4;
    padding: 25px;
    margin-right: 15px;
}

.saved_address {
    border-radius: 2px;
    box-shadow: inset 0 1px 30px 0 rgba(0, 0, 0, 0.03);
    border: solid 1px #d9d9d4;
    padding: 25px;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.58;
    color: #686868;
}

.saved_address img {
    float: right;
    margin-top: -15px;
    padding: 5px 10px;
    cursor: pointer;
}

.employment_seal:last-child {
    border-radius: 2px;
    box-shadow: none;
    border: none;
    padding: 49px 25px;
    margin-right: 15px;
}

.employment_seal span {
    font-family: 'HansKendrick', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #686868;
    display: block;
    margin-right: 5px;
}

.employment_seal img {
    padding: 19px;
}

.employment_seal_image {
    background: url(../img/svg/employment-seal.svg);
    width: 63px;
    height: 63px;
    float: left;
    margin-right: 15px;
}

.employment_seal h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 50px;
    font-weight: 300;
    text-align: center;
    color: #686868;
}

.employment_seal:last-child h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 50px;
    font-weight: 300;
    text-align: left;
    color: #686868;
}

.employment_seal p {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    color: #686868;
}

ul.nav.nav-tabs.payment_option.useraccount_options li a {
    padding: 15px;
}

.employment_seal_image.rotate_employment_seal img {
    transform: rotate(-90deg);
    padding-bottom: 24px;
    padding-top: 22px;
    padding: 0px 40px 20px 14px;
}

.employment_seal_image.rotate_employment_seal {
    transform: rotate(90deg);
}

section.checkout.useraccount {
    background: transparent;
}

ul.nav.nav-tabs.payment_option.useraccount_options li {
    background: transparent;
}

.user_account_2 {
    border-radius: 2px;
    background-color: #ffffff;
    box-shadow: inset 0 1px 30px 0 rgba(0, 0, 0, 0.03);
    border: solid 1px #d9d9d4;
}

.hr_useraccount_2 {
    margin: 20px 3px;
}

.open_older_orders_acitve {
    font-family: 'HansKendrick', sans-serif;
    font-size: 14px;
    font-weight: 900;
    color: #ec6543;
}

.open_older_orders {
    padding: 0px;
    margin-top: 30px;
    display: block;
    height: 15px;
}

.open_older_orders li {
    font-family: 'HansKendrick', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #686868;
    float: left;
    margin-right: 15px;
    cursor: pointer;
}

.active_order_tab {
    font-weight: 900 !important;
    color: #ec6543 !important;
}

.order_details_account {
    margin-top: 25px;
    margin-bottom: 20px;
}

div[data-id="option2"] .container-fluid .order_details_account {
    margin-top: 25px;
    margin-bottom: 0px;
}

.order_details_account img {
    float: left;
    margin-right: 5px;
}

div[data-id="option2"] .container-fluid .order_details_account img {
    float: none;
    margin-right: 5px;
}

.order_details_account p:nth-child(1) {
    font-family: 'Open Sans', sans-serif;
    font-size: 10px;
    font-weight: 400;
    color: #686868;
}

.order_details_account p:nth-child(2) {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 700;
    color: #000000;
}

div[data-id="option2"] .container-fluid .order_details_account p:nth-child(2) {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 700;
    color: #000000;
    margin: 0;
    margin-top: 4px;
}

.order_details_account .container-fluid button.btn.ghost.center-block {
    width: auto;
    float: right;
    margin-top: 0px;
    margin-right: -15px;
}

.wizard {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    padding: 0;
}

.wizard > li {
    list-style: none;
    text-align: center;
    width: auto;
    padding: 0;
    margin: 0;
    position: relative;
    text-overflow: ellipsis;
    color: #bbbbbb;
    display: block;
}

.wizard > li {
    -ms-flex: 1;
    -webkit-flex: 1;
    -moz-flex: 1;
    flex: 1;
}

.bubble {
    border-radius: 1000px;
    width: 8px;
    height: 8px;
    background-color: #464646;
    display: block;
    margin: 0 auto 0.5em auto;
    border-bottom: 1px solid #888888;
}

li .bubble:before {
    left: 0;
}

li .bubble:after {
    right: 0;
}

li:not(:last-child) .bubble:after {
    content: "";
    width: 50%;
    display: block;
    height: 0px;
    border: solid 1px #464646;
    position: absolute;
    top: 3px;
    z-index: -1;
}

li:not(:first-child) .bubble:before {
    content: "";
    width: 50%;
    display: block;
    height: 0px;
    border: solid 1px #464646;
    position: absolute;
    top: 3px;
    z-index: -1;
}

.bubble.active {
    width: auto;
    height: 15px;
    border-radius: 4px;
    background-color: #464646;
    margin-top: -5px;
    font-size: 9px;
    font-weight: 700;
    text-align: center;
    color: #ffffff;
    z-index: 9999999;
    padding: 2px;
    font-family: 'Open Sans', sans-serif;
    z-index: 1;
}

.user_account_2 .panel-body {
    padding-bottom: 20px !important;
}

.product-title_returned span {
    display: block;
    text-align: left !important;
    float: left;
    width: 100%;
}

#table_user3 tbody tr td {
    padding-left: 0px;
}

.sample_width {
    width: 20%;
}

.useraccount3col-md-7 {
    position: absolute;
    right: 0;
    bottom: 0;
}

.product-details1 .table {
    margin-bottom: 0px;
    width: 100%;
}

.product-details1 td span:first-child {
    font-family: 'Open Sans', sans-serif;
    font-size: 10px;
    font-weight: normal;
    color: #686868;
    display: block;
    margin: 5px 0px;
    width: 100%;
}

.product-details1 td span:nth-child(2) {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #686868;
}

.product-details1 h2 {
    font-family: 'HansKendrick', sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin-top: 30px;
    color: #000000;
    margin-bottom: 30px;
}

.product-details1 h2:last-child {
    margin: 60px 0px;
}

.product-details1 .ghost {
    width: auto !important;
}

.edit_address_h4 {
    font-family: 'HansKendrick', sans-serif;
    font-size: 21px;
    font-weight: 400;
    line-height: 1.19;
    letter-spacing: -1px;
    text-align: center;
    color: #686868;
}

p.state_city {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 2.08;
    text-align: center;
    color: #000000;
}

#edit_address_modal .modal-dialog .modal-content .modal-body .row.text-center {
    margin-bottom: 30px;
}

#close_edit_address {
    position: absolute;
    right: 0;
    cursor: pointer;
}

.order-detail-return,
.order-detail-return .panel {
    background: #f5f5f2;
}

.order-detail-return .panel.summary:after {
    background: linear-gradient(-50deg, #ffffff 16px, transparent 0), linear-gradient(50deg, #ffffff 16px, transparent 0);
    background-position: left-bottom;
    background-repeat: repeat-x;
    background-size: 10px 31px;
    content: " ";
    display: block;
    position: absolute;
    bottom: -1px;
    left: 0px;
    width: 100%;
    height: 32px;
}

.order-detail-return-h2 {
    font-family: 'HansKendrick', sans-serif;
    font-size: 14px;
    font-weight: 900;
    color: #ec6543;
    margin-bottom: 20px;
}

.back_order_return {
    float: left;
    margin-right: 30px;
    border-right: transparent;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid #ec6543;
    cursor: pointer;
}

.delivered_add {
    font-family: 'HansKendrick', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #686868;
    margin-bottom: 16px;
}

.delivered_add_details {
    width: 167px;
    height: 114px;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.58;
    color: #686868;
    display: block;
}

.date_delivered {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 700;
    color: #000000;
}

.order_h2_details {
    font-family: 'HansKendrick', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #686868;
}

.cancel_return {
    width: 140px !important;
    margin-right: 10px !important;
    border: none !important;
    background: transparent !important;
    color: #000 !important;
}

.return_initiated {
    border: none !important;
    width: 140px !important;
    height: 40px !important;
    border-radius: 2px !important;
    background-color: #d9d9d4 !important;
    color: #000 !important;
}

.return_item {
    width: 140px !Important;
}

.order-return_div {
    display: none;
}

.return_p {
    font-family: 'Open Sans', sans-serif;
    font-size: 11.5px;
    font-weight: 400;
    text-align: center;
    color: #464646;
}

.filter-option-class {
    text-align: center !important;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 400;
}

.return_reason_class {
    width: 100% !important;
    height: 40px;
    border-radius: 2px;
    background-color: #ffffff;
    border: solid 1px #d9d9d4;
    margin-top: 20px;
    margin-bottom: 30px;
}

.return_reason_class button {
    width: 100% !important;
    height: 40px;
    border-radius: 2px;
    background-color: #ffffff;
    border: solid 1px #d9d9d4;
    
}

.return_reason_class .dropdown-menu {
    border-radius: 2px;
    background-color: #ffffff;
    border: solid 1px #d9d9d4;
    margin: 0px;
    padding: 0;
    
}

.return_reason_class .dropdown-menu li a {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
        padding: 11px;
    border-bottom: solid 1px #d9d9d4;
}
.return_reason_class .dropdown-menu li:last-child a {

    border-bottom: none;
}

.return_reason_class .dropdown-menu li:first-child a {
    color: #ec6543;
}

.dropdown_a_class {
    text-align: center;
}
.initiate_return_button
{
    display: block;
}
.return_reason_textarea
{
    display: none;
     font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: 400;
  font-style: italic;
  color: #787878;
    font-style: italic;
}
/*User Account*/