body {
    font-family: 'Open Sans', sans-serif;
}

@font-face {
    font-family: 'HansKendrick';
    src: url('../fonts/HansKendrick-Regular.otf');
    /* IE9 Compat Modes */
    src: url('../fonts/HansKendrick-Regular.otf') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/HansKendrick-Regular.otf') format('otf'), /* Super Modern Browsers */
}


.top_bar {
    border: 1px solid #edede8;
}

.habba_logo_product {
    border-right: 1px solid #edede8;
    float: left;
    padding: 5px;
    padding-top: 0px;
    padding-right: 25px;
}

.top_product_contact {}

.top_product_contact p {
    font-size: 12px;
    font-weight: normal;
    text-align: center;
    color: #686868;
    border-bottom: 1px solid #edede8;
    margin-left: -16px;
    width: 100%;
    text-align: center;
    padding: 10px;
    margin-bottom: 0px;
    font-family: 'HansKendrick', sans-serif;
}

.navbar-default {
    background: transparent;
    border-color: transparent;
    border: 0px;
}

.navbar {
    margin-bottom: 0px;
    margin-top: 8px;
}

.navbar-default .navbar-nav>li>a {
    color: #686868;
    font-family: 'HansKendrick', sans-serif;
    line-height: 23px;
}

.navbar-default .navbar-nav>li:hover {
    border-bottom: solid 3px #ec6543;
}

.navbar-default .navbar-nav>li:hover a {
    font-family: 'HansKendrick', sans-serif;
    font-size: 14px;
    font-weight: 900;
    color: #ec6543;
}

.navbar-default .navbar-nav>li {
    border-bottom: solid 3px transparent;
}

.number {
    color: #D400AD;
    font-weight: bold;
}
.bookmark_badge {
    position: absolute;
    top: 5px;
    width: 17.4px;
    height: 17.4px;
    padding: 2px;
    background: #fff;
    color: #000;
    border: 1px solid #272727;
    right: 8px;
}

.cart_badge {
    position: absolute;
    top: 5px;
    width: 17.4px;
    height: 17.4px;
    padding: 2px;
    background: #ec6543;
    color: #fff;
    border: solid 1px #ec6543;
    right: 8px;
}
.navbar-default .navbar-nav>li  img.dummy
{
    width: 16px;
}
@media (min-width: 768px)
{
.navbar-right {
    float: right!important;
    margin-right: 25px !important;
}
}