body {
    font-family: 'Open Sans', sans-serif;
}

@font-face {
    font-family: 'HansKendrick';
    src: url('../fonts/HansKendrick-Regular.otf');
    /* IE9 Compat Modes */
    src: url('../fonts/HansKendrick-Regular.otf') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/HansKendrick-Regular.otf') format('otf'), /* Super Modern Browsers */
}

.main_content {
    padding-top: 70px;
}

.nav-tabs>li.active>a {
    margin-right: 0px !important;
    border-radius: 0px !important;
    text-align: right;
    border: solid 1px #edede8 !important;
    border-left: solid 3px #ec6543 !important;
    font-family: 'HansKendrick', Fallback, sans-serif;
    font-size: 14px;
    font-weight: 900;
    text-align: right;
    color: #ec6543 !important;
}

.nav-tabs>li>a {
    margin-right: 0px !important;
    border-radius: 0px !important;
    text-align: right;
    border: solid 1px #edede8 !important;
    font-family: 'HansKendrick', Fallback, sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-align: right;
    color: #686868 !important;
}

.nav-tabs>li>a {
    padding: 10px 16px;
}

.nav-tabs>li {
    width: 100%;
}

.common-div h2 {
    font-family: 'HansKendrick', Fallback, sans-serif;
    font-size: 21px;
    font-weight: 400;
    color: #686868;
}

.common-div h2:after {
    content: "";
    background: url("../img/svg/zigzag-basic-unit-black.svg");
    width: 100px;
    height: 20px;
    display: block;
    background-repeat: repeat-x;
    margin-top: 20px;
}
.common-div h1 {
    font-family: 'HansKendrick', Fallback, sans-serif;
    font-size: 18px;
    font-weight: 900;
    color: #272727;
}
.common-div h3 {
    font-size: 14px;
    font-weight: 800;
    letter-spacing: 2px;
    color: #ca38af;
}
.common-div h4  strong
{
    color: #ca38af;
}
.common-div h4 {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    color: #686868;
}

.common-div p:nth-child(even) {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    color: #686868;
    margin-bottom: 0px;
    margin-top: 20px;
}
.common-div p {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    color: #686868;
}

.seperator:after {
    content: "";
    background: url("../img/svg/zigzag-basic-unit-black.svg");
    width: 100px;
    height: 20px;
    display: block;
    background-repeat: repeat-x;
    margin: 50px 0px;
}