body {
    font-family: 'Open Sans', sans-serif;
}

@font-face {
    font-family: 'HansKendrick';
    src: url('../fonts/HansKendrick-Regular.otf');
    /* IE9 Compat Modes */
    src: url('../fonts/HansKendrick-Regular.otf') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/HansKendrick-Regular.otf') format('otf'), /* Super Modern Browsers */
}


.content_banner {
    position: absolute;
    color: #fff;
    margin-top: 50px;
    z-index: 9;
}
.banner-button
{
        display: block;
    border: 1px solid #fff;
    padding: 12px;
    text-align: center;
    color: #fff !important;
    margin-top: 10px;
    cursor: pointer;
    z-index: 9;  
    text-decoration: none !important;
}
.our_commitment h1,.our_responsibility h1
{
    margin:75px 0px ;
  font-family: 'HansKendrick', sans-serif;
  font-size: 28px;
  font-weight: 300;
  letter-spacing: -1px;
  text-align: center;
  color: #464646;
}
.our_commitment > h1:before,.our_responsibility > h1:before
{
    content: "";
    margin: auto;
    width: 20%;
    height: 15px;
    background: url(../img/svg/zigzag-basic-unit-black.svg);
    margin-top: 0px;
    background-repeat:repeat-x;
    margin-left: 0px;
    position: absolute;
    left: 100px;
    margin-top: 15px;
}.our_commitment > h1:after,.our_responsibility > h1:after
{
    content: "";
    margin: auto;
    width: 20%;
    height: 15px;
    background: url(../img/svg/zigzag-basic-unit-black.svg);
    margin-top: 0px;
    background-repeat: repeat-x;
    margin-left: 0px;
    position: absolute;
    right: 100px;
    margin-top: 15px;
}
.content_commitment h1,.content_responsibility h1
{
 font-family: 'HansKendrick', sans-serif;
  font-size: 21px;
  font-weight: 900;
  text-align: center;
  color: #272727;   
    margin: 7px 0px;
}.content_commitment h4,.content_responsibility h4
{
  font-size: 14px;
  font-weight: 800;
  letter-spacing: 2px;
  text-align: center;
  color: #ca38af; 
    margin:15px 0px;
}.content_commitment p,.content_responsibility p
{
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  color: #686868;
}.content_commitment span
{
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
    display: block; 
    margin-bottom: 5px;
    margin-top: 25px;

}
.col-md-10.handmade {
    border-radius: 2px;
    border: solid 1px #edede8;
    padding: 3px;
}
.col-md-10.handmade .row .col-md-6 .row:first-child {
    margin-top: 20px;
    padding: 0px;
}
.col-md-10.handmade .row .col-md-6 .row .col-md-4, .col-md-10.handmade .row .col-md-6 .row .col-md-6 {
    background-color: #f5f5f2;
    border: solid 1px #edede8;
    padding: 5px 10px;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    text-align: center;
    color: #adadac;
}

.progress {
       height: 4px;
    margin-bottom: 0px;
}

.progress-bar:nth-last-child(5) {
    border-radius: 4px;
    background-color: #74c700;
    border-right: 2px solid
}

.progress-bar:nth-last-child(4) {
    border-radius: 4px;
    background-color: #ffc900;
    border-right: 2px solid
}

.progress-bar:nth-last-child(3) {
    border-radius: 4px;
    background-color: #e5b500;
    border-right: 2px solid
}

.progress-bar:nth-last-child(2) {
    border-radius: 4px;
    background-color: #ad8901;
    border-right: 2px solid
}

.progress-bar:nth-last-child(1) {
    border-radius: 4px;
    background-color: #7f6502;
}
.handmade .row .col-md-6 span {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    display: inline;
}

.handmade .row p {
    font-size: 21px;
    font-weight: 700;
    text-align: center;
    color: #ec6543;
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
}
.part1-content p:nth-child(1) {
    font-family: HansKendrick;
    font-size: 18px;
    font-weight: 900;
    color: #272727;
    margin-top: 30px;
}
.last-content .col-md-6 span {
    font-size: 11.9px;
    font-weight: 400;
    color: #787878;
}
.last-content {
    border-radius: 2px;
    background-color: #f5f5f2;
    padding: 10px 0px;
}.last-content .col-md-6 span {
    font-size:11.9px !important;
    font-weight: 400;
    color: #787878;
}.content_responsibility img.center-block {
    padding: 30px 0px;
}.seperator {
    background-image: url(../img/heading-border.png);
    height: 16px;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 70px;
}.row.shop_now_section {
    margin: 70px 60px;
}.shop_now_section img.img-responsive {
    width: 100%;
    height: 100%;
     object-fit: contain
}
.shop_now_button
{
    background: #ccc;
    position: absolute;
    width: 94.3%;
    border-radius: 0px;
    top: 41%;
    padding: 30px;
    text-align: center;
    text-decoration: none;
}
}
@media(max-width:767px)
{
.content_banner {
    display: none;
}
}
