body {
    font-family: 'Open Sans', sans-serif;
}

@font-face {
    font-family: 'HansKendrick';
    src: url('../fonts/HansKendrick-Regular.otf');
    /* IE9 Compat Modes */
    src: url('../fonts/HansKendrick-Regular.otf') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/HansKendrick-Regular.otf') format('otf'), /* Super Modern Browsers */
}

.main_content {
    padding-top: 40px;
}

.marker {
    position: absolute;
    top: 100px;
    right: 173px;
}

.main_content .container .col-md-5 p {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.57;
    color: #686868;
}

.main_content .container .col-md-3 p {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.57;
    color: #272727;
    text-align: center;
}

.main_content .container .col-md-3 p:first-child {
    font-family: 'HansKendrick', Fallback, sans-serif;
    font-size: 21px;
    font-weight: 900;
    text-align: center;
    color: #000000;
}

.main_content .container .col-md-3 p:first-child:before,
.main_content .container .col-md-3 p:first-child:after {
    content: "";
    background: url("../img/svg/zigzag-basic-unit-black.svg");
    width: 100px;
    height: 12px;
    display: block;
    margin-left: 78px;
    background-repeat: repeat-x;
    margin-top: 10px;
}
.main_content .shop_product.container  p
{
      font-family: 'HansKendrick', Fallback, sans-serif;
  font-size: 28px;
  font-weight: 300;
  letter-spacing: -1px;
  text-align: center;
  color: #464646;
}
.shop_product
{
    margin-top: 40px;
}
.main_content .container.shop_product .col-md-3 {
    background: url("../img/svg/zigzag-basic-unit-black.svg");
    height: 12px;
    display: block;
    background-repeat: repeat-x;
    margin-top: 16px;
}
.main_content .col-md-3 img.img-responsive.center-block {
    width: 86.5px;
    height: 86.5px;
}
.banner{
    width:100%;
}
.container .container-fluid
{
    margin-top: 30px;
}
.shop_more {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 800;
    letter-spacing: 2px;
    color: #787878;
    margin-left: -5px;
}
.see-all {
    font-family: 'HansKendrick', sans-serif;
    font-size: 14px;
    font-weight: 900;
    line-height: 1.79;
    text-align: right;
    color: #000000;
}
#owl-demo1 .item,#owl-demo2 .item {
    padding: 0px;
    margin: 10px;
    color: #FFF;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.margin_product {
    margin-bottom: 50px;
}
.img-area {
    height: 300px;
    padding: 30px;
    background: #f5f5f2;
}
.product_details {
    margin-top: 19px;
}
.handcrafted {
    font-family: 'HansKendrick', sans-serif;
    font-size: 16px;
    font-weight: normal;
    letter-spacing: -0.6px;
    color: #464646;
}
.Rs {
    font-size: 12px;
    font-weight: bold;
    text-align: right;
    color: #000000;
    margin-top: 10px;
    font-family: 'Open Sans', sans-serif !important;
}
.description_bottom {
    font-family: 'Open Sans', sans-serif !important;
    font-size: 12px;
    font-weight: normal;
    color: #686868;
}
.customNavigation {
    text-align: center;
}
span.num, span.num1 {
    font-family: 'HansKendrick', sans-serif;
    font-size: 16px;
    font-weight: normal;
    letter-spacing: -0.6px;
    text-align: center;
    color: #464646;
}
a.center-block.basket_button:hover {
    text-decoration: none;
    color: #fff;
}
.margin_product:hover .basket_button {
    transition: 1s ease all;
    opacity: 1;
}
a.center-block.basket_button {
    transition: 1s ease all;
    height: 40px;
    margin-top: 17px; 
    border-radius: 2px;
    background-color: #ec6543;
    border-color: #ec6543;
    padding: 8px;
    text-align: center;
    color: #fff;
    text-decoration: none;
    opacity: 0;
    font-family: 'HansKendrick', sans-serif;
}
img.img-responsive.bookmark {
    margin: -15px;
    float: right;
    height: initial;
}
.slider_top
{
    margin-top: 50px;
}