body {
    font-family: 'Open Sans', sans-serif;
}

@font-face {
    font-family: 'HansKendrick';
    src: url('../fonts/HansKendrick-Regular.otf');
    /* IE9 Compat Modes */
    src: url('../fonts/HansKendrick-Regular.otf') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/HansKendrick-Regular.otf') format('otf'), /* Super Modern Browsers */
}


section.checkout {
    background-color: #f5f5f2;
    padding-top: 50px;
    padding-bottom: 50px;
}

.col-md-7.pad-right{
    padding-right: 40px;
}
.col-md-7.pad-right span.logged_in_as{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.79;
    color: #686868;
}
.col-md-7.pad-right span.change{
    font-family: 'HansKendrick', sans-serif;
    font-size: 12px;
    font-weight: 900;
    text-align: right;
    color: #464646;
    cursor: pointer;
}
.review_top {
    margin-bottom: 5px;
    margin-top: 5px;
    border-color: #d9d9d4;
}
.payment_item {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
}
.review_item {
    margin-top: 20px;
}
.review_heading {
    text-align: center;
    font-family: 'HansKendrick', sans-serif;
    font-size: 21px;
    font-weight: 400;
    line-height: 1.19;
    letter-spacing: -1px;
    text-align: center;
    color: #686868;
}
.payment_full {
    background: #F5F5F2;
    padding: 0px;
    border: 1px solid #e8e8e5;
}
.payment_options {
    padding: 0px;
}
.payment_option li {
    background: #F5F5F2;
    border-bottom: 1px solid #EDEDE8;
    display: block;
    width: 100%;
}
ul.nav.nav-tabs.payment_option li.active a {
    border: none;
    font-family: 'HansKendrick', sans-serif;
    font-size: 14px;
    font-weight: 900;
    line-height: 1.79;
    color: #ec6543;
}

ul.nav.nav-tabs.payment_option li a {
    font-family: 'HansKendrick', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.79;
    letter-spacing: -0.7px;
    color: #464646;
}
.col-md-8.payment_back {
    padding-top: 40px;
    padding-bottom: 40px;
    background: #fff;
    margin: 0px;
}
.payment_form {
    box-shadow: none;
    height: 40px;
    border-radius: 2px;
    border: solid 1px #d9d9d4;
}
.deleviery_button {
    height: 40px;
    border-radius: 2px;
    background-color: #ec6543;
    border: none;
    width: 140px;
    margin-top: 5px;
    font-family: 'HansKendrick', sans-serif;
    font-size: 12px;
    font-weight: 900;
    text-align: center;
    color: #ffffff;
}

.bank_logo {
    padding: 20px;
    padding-left: 60px;
    padding-right: 35px;
}
.bank_logo img {
    width: 67px;
    height: 36px;
}
.payment_div_col-md-4 .row {
    margin-left: 0px;
}
.panel.summary:after {
    background: linear-gradient(-50deg, #f5f5f2 16px, transparent 0), linear-gradient(50deg, #f5f5f2 16px, transparent 0);
    background-position: left-bottom;
    background-repeat: repeat-x;
    background-size: 10px 31px;
    content: " ";
    display: block;
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 32px;
}

.col-md-5.pad-left {
    padding-left: 30px;
}

.panel.summary h2 {
    font-family: 'HansKendrick', Fallback, sans-serif;
    font-size: 21px;
    font-weight: normal;
    text-align: center;
    color: #686868;
    text-align: center;
}

.panel.summary h2:after {
    content: "";
    display: block;
    margin: auto;
    width: 110px;
    height: 15px;
    background: url(../img/svg/zigzag-border-black.svg) center no-repeat;
    margin-top: 16px;
}

.panel.summary .summary-details {
    padding-left: 50px;
    padding-right: 50px;
}

.panel.summary .summary-details span.pull-right {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 600;
    text-align: right;
    color: #000000;
}

.panel.summary .summary-details span {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: normal;
    color: #686868;
}

.zig {
    background: url(../img/zigzag-border-grey.png) center no-repeat;
    height: 20px;
    border: none;
}

hr.line {
    border: solid 1px #f5f5f2;
    margin-top: 8px;
}

.panel.summary .summary-details .total span {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: bold;
    text-align: right;
    color: #000000;
}

.income-details span {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: normal;
    color: #787878;
}

.income-details .table {
    margin-bottom: 0px;
    margin-top: 30px;
}
button.ghost {
    margin-top: 30px;
    font-family: 'HansKendrick', Fallback, sans-serif;
    font-size: 12px;
    font-weight: 900;
    text-align: center;
    color: #272727;
    width: 200px;
    transition: 0.5s ease;
    height: 40px;
    border-radius: 2px;
    border: solid 1px #000000;
    background-color: transparent;
}

button.ghost:hover {
    color: #eeeeee;
    transition: 0.5s ease;
    background-color: #000000;
}