body {
    font-family: 'Open Sans', sans-serif;
}

@font-face {
    font-family: 'HansKendrick';
    src: url('../fonts/HansKendrick-Regular.otf');
    /* IE9 Compat Modes */
    src: url('../fonts/HansKendrick-Regular.otf') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/HansKendrick-Regular.otf') format('otf'), /* Super Modern Browsers */
}
.payment_success_div {
    padding: 40px;
    background-color: #f5f4f2;
}
.payment_success_div img.success_img {
    padding-top: 35px;
}
.order_placed {
    font-family: 'HansKendrick', sans-serif;
    font-size: 21px;
    font-weight: 900;
    line-height: 1.19;
    color: #74c700;
    margin-bottom: 15px;
}
.success_border {
    height: 10px;
}
.transaction_id {
    font-family: 'HansKendrick', sans-serif;
    font-size: 14px;
    font-weight: 900;
    line-height: 1.79;
    color: #686868;
    padding-top: 15px;
}
.success_des {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.33;
    color: #686868;
}
.income_ar_success {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: #787878;
}
.income_ar_success {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: #787878;
}
.van_success {
    display: block;
    float: left;
    margin-right: 15px;
    padding-top: 10px;
}
.income_ar_success1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.33;
    color: #686868;
    padding: 10px;
    display: block;
}
.track_download {
    margin-bottom: 30px;
}
.row.track_download .container-fluid button {
    width: 183px;
}
.total_impact {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.33;
    color: #686868;
    margin-top: 20px;
}
.img_badge {
    display: block;
    float: left;
    margin-right: 10px;
}
.success_days {
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    font-weight: 300;
    color: #686868;
}
.success_days1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #686868;
}
button.ghost {
    margin-top: 30px;
    font-family: 'HansKendrick', Fallback, sans-serif;
    font-size: 12px;
    font-weight: 900;
    text-align: center;
    color: #272727;
    width: 200px;
    transition: 0.5s ease;
    height: 40px;
    border-radius: 2px;
    border: solid 1px #000000;
    background-color: transparent;
}


.slider_top {
    margin-top: 100px;
}

.shop_more {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 800;
    letter-spacing: 2px;
    color: #787878;
    margin-left: -5px;
}

.see-all {
    font-family: 'HansKendrick', sans-serif;
    font-size: 14px;
    font-weight: 900;
    line-height: 1.79;
    text-align: right;
    color: #000000;
}

#owl-demo .item {
    padding: 0px;
    margin: 10px;
    color: #FFF;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

#owl-demo1 .item {
    padding: 0px;
    margin: 10px;
    color: #FFF;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.margin_product {
    margin-bottom: 50px;
}

.img-area {
    height: 300px;
    padding: 30px;
    background: #f5f5f2;
}

a.center-block.basket_button {
    transition: 1s ease all;
    margin-top: 17px;
    height: 40px;
    border-radius: 2px;
    background-color: #ec6543;
    border-color: #ec6543;
    padding: 8px;
    text-align: center;
    color: #fff;
    text-decoration: none;
    opacity: 0;
    font-family: 'HansKendrick', sans-serif;
}

.margin_product:hover .basket_button {
    transition: 1s ease all;
    opacity: 1;
}

a.center-block.basket_button:hover {
    text-decoration: none;
    color: #fff;
}

.product_details {
    margin-top: 19px;
}

.margin_product p {
    font-family: 'HansKendrick', sans-serif;
}

.handcrafted {
    font-family: 'HansKendrick', sans-serif;
    font-size: 16px;
    font-weight: normal;
    letter-spacing: -0.6px;
    color: #464646;
}

.Rs {
    font-size: 12px;
    font-weight: bold;
    text-align: right;
    color: #000000;
    margin-top: 10px;
    font-family: 'Open Sans', sans-serif !important;
}

.description_bottom {
    font-family: 'Open Sans', sans-serif !important;
    font-size: 12px;
    font-weight: normal;
    color: #686868;
}

span.num,
span.num1 {
    font-family: 'HansKendrick', sans-serif;
    font-size: 16px;
    font-weight: normal;
    letter-spacing: -0.6px;
    text-align: center;
    color: #464646;
}

.customNavigation {
    text-align: center;
}

img.img-responsive.bookmark {
    margin: -15px;
    float: right;
    height: initial;
}