body {
    font-family: 'Open Sans', sans-serif;
}

@font-face {
    font-family: 'HansKendrick';
    src: url('../fonts/HansKendrick-Regular.otf');
    /* IE9 Compat Modes */
    src: url('../fonts/HansKendrick-Regular.otf') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/HansKendrick-Regular.otf') format('otf'), /* Super Modern Browsers */
}

.main_content {
    padding-top: 70px;
}

.nav-tabs>li.active>a {
    margin-right: 0px !important;
    border-radius: 0px !important;
    text-align: right;
    border: solid 1px #edede8 !important;
    border-left: solid 3px #ec6543 !important;
    font-family: 'HansKendrick', Fallback, sans-serif;
    font-size: 14px;
    font-weight: 900;
    text-align: right;
    color: #ec6543 !important;
}

.nav-tabs>li>a {
    margin-right: 0px !important;
    border-radius: 0px !important;
    text-align: right;
    border: solid 1px #edede8 !important;
    font-family: 'HansKendrick', Fallback, sans-serif;
    font-size: 14px;
    font-weight: 900;
    text-align: right;
    color: #686868 !important;
}

.nav-tabs>li>a {
    padding: 10px 16px;
}

.common-div h2 {
    font-family: 'HansKendrick', Fallback, sans-serif;
    font-size: 21px;
    font-weight: 400;
    color: #686868;
}

.common-div h2:after {
    content: "";
    background: url("../img/svg/zigzag-basic-unit-black.svg");
    width: 100px;
    height: 20px;
    display: block;
    background-repeat: repeat-x;
    margin-top: 20px;
}

.part1-content p:nth-child(1) {
    font-family: HansKendrick;
    font-size: 18px;
    font-weight: 900;
    color: #272727;
    margin-top: 30px;
}

.part1-content p:nth-child(2) {
    font-size: 14px;
    font-weight: 800;
    letter-spacing: 2px;
    color: #ca38af;
}

.part1-content p:nth-child(3) {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    color: #686868;
}

.part1-content p:nth-child(4) {
    font-size: 14px;
    font-weight: 600;
    line-height: 1.5;
}

.last-p {
    margin-top: 40px;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.5;
}

.col-md-8.handmade {
    border-radius: 2px;
    border: solid 1px #edede8;
    padding: 20px;
}


.col-md-8.handmade .row .col-md-6 .row:first-child {
    margin-top: 20px;
    padding: 0px;
}

.col-md-8.handmade .row .col-md-6 .row .col-md-4,
.col-md-8.handmade .row .col-md-6 .row .col-md-6 {
    background-color: #f5f5f2;
    border: solid 1px #edede8;
    padding: 5px 10px;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    text-align: center;
    color: #adadac;
}

.seperator:after {
    content: "";
    background: url("../img/svg/zigzag-basic-unit-black.svg");
    width: 100px;
    height: 20px;
    display: block;
    background-repeat: repeat-x;
    margin: 50px 0px;
}

.handmade .row .col-md-6 span {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
}

.container-fluid .handmade .row p {
    font-size: 21px;
    font-weight: 700;
    text-align: center;
    color: #ec6543;
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
}

.progress {
    height: 4px;
}

.progress-bar:nth-last-child(5) {
    border-radius: 4px;
    background-color: #74c700;
    border-right: 2px solid
}

.progress-bar:nth-last-child(4) {
    border-radius: 4px;
    background-color: #ffc900;
    border-right: 2px solid
}

.progress-bar:nth-last-child(3) {
    border-radius: 4px;
    background-color: #e5b500;
    border-right: 2px solid
}

.progress-bar:nth-last-child(2) {
    border-radius: 4px;
    background-color: #ad8901;
    border-right: 2px solid
}

.progress-bar:nth-last-child(1) {
    border-radius: 4px;
    background-color: #7f6502;
}

.container-fluid.last-content .col-md-6 span {
    font-size: 11.9px;
    font-weight: 400;
    color: #787878;
}

.last-content .col-md-6:first-child {
    padding-right: 0px;
}

.last-content .col-md-6:last-child {
    padding-left: 0px;
}

.container-fluid.last-content {
    border-radius: 2px;
    background-color: #f5f5f2;
    padding: 10px 0px;
}

.part2-content p:nth-child(1) {
    font-family: HansKendrick;
    font-size: 18px;
    font-weight: 900;
    color: #272727;
    margin-top: 30px;
}

.part2-content p:nth-child(2) {
    font-size: 14px;
    font-weight: 800;
    letter-spacing: 2px;
    color: #ca38af;
    margin-bottom: 20px;
}

.part2-content p:nth-child(4) {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    color: #686868;
    margin-top: 20px;
}
.part2-content p:nth-child(5) {
  font-family: 'HansKendrick', Fallback, sans-serif;
  font-size: 14px;
  font-weight: 900;
  color: #ec6543;
}