.row > span.pull-right {
    margin-top: 110px;
    font-family: 'HansKendrick', Fallback, sans-serif;
    font-size: 14px;
    font-weight: normal;
    color: #272727;
}
h1.head-text {
    font-family: 'HansKendrick', Fallback, sans-serif;
    font-size: 21px;
    font-weight: 900;
    text-align: center;
    color: #000000;
}
h1.head-text:before {
    content: "";
    display: block;
    width: 127px;
    margin: auto;
    margin-bottom: 16px;
    height: 15px;
    background: url(../img/svg/zigzag-border-black.svg) center no-repeat;
}
h1.head-text:after {
    content: "";
    display: block;
    margin: auto;
    width: 127px;
    height: 15px;
    background: url(../img/svg/zigzag-border-black.svg) center no-repeat;
    margin-top: 18px;
}
.grey-text {
    font-size: 14px;
    color: #686868;
}
.row.collections {
    margin-top: 66px;
}
.col-md-6 .col-back {
    background-color: #f2f3f5;
}
.col-md-6 .pad-left {
    padding-left: 33px;
}
.row.collections h2 {
    margin-top: 45px;
    font-family: 'HansKendrick', Fallback, sans-serif;
    font-size: 21px;
    font-weight: 900;
    letter-spacing: -0.8px;
    color: #272727;
}
.row.collections span {
    margin-top: 12px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 2px;
    color: #ca38af;
}
.row.collections p {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: normal;
    color: #686868;
    margin-top: 30px;
}
button.ghost {
    margin-top: 30px;
    font-family: 'HansKendrick', Fallback, sans-serif;
    font-size: 12px;
    font-weight: 900;
    text-align: center;
    color: #272727;
    width: 200px;
    transition: 0.5s ease;
    height: 40px;
    border-radius: 2px;
    border: solid 1px #000000;
    background-color: transparent;
}
button.ghost:hover {
    color: #eeeeee;
    transition: 0.5s ease;
    background-color: #000000;
}
.seperator {
    background-image: url(../img/double-zig-zag-grey.png);
    height: 16px;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 70px;
}
.col-md-6 .pad-right {
    padding-right: 33px;
    text-align: right;
}
.img-responsive.img-center {
    margin: 0 auto;
}
@media (min-width: 992px)
{
.col-md-6.topmargin.col-md-offset-3 {
    width: 60%;
    margin-left: 22%;
    margin-top: 60px;
}
}