body {
    font-family: 'Open Sans', sans-serif;
}

@font-face {
    font-family: 'HansKendrick';
    src: url('../fonts/HansKendrick-Regular.otf');
    /* IE9 Compat Modes */
    src: url('../fonts/HansKendrick-Regular.otf') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/HansKendrick-Regular.otf') format('otf'), /* Super Modern Browsers */
}

.product_div {
    margin-top: 45px;
}

.heading_product h1 {
    font-family: 'HansKendrick', Fallback, sans-serif;
    font-size: 21px;
    font-weight: 500;
    color: #686868;
}

.catergory {
    font-size: 14px;
    font-weight: normal;
    color: #000000;
    text-align: right;
    font-family: 'HansKendrick', sans-serif;
    cursor: pointer;
    position: absolute;
    right: 0;
}

.category_drop {
    position: absolute;
    z-index: 2;
    width: 321px;
    height: 138.6px;
    background-color: #ffffff;
    border: solid 1px #000000;
    right: -85px;
    left: initial;
    box-shadow: none;
    border-radius: 0;
    border: 1px solid #000;
    padding: 14px 56px;
    text-align: center;
    top: 26px;
    font-family: 'HansKendrick', sans-serif;
    display: none;
}

.category_drop p {
    font-family: 'HansKendrick', sans-serif;
}

.heading_product_strip:before {
    background: url(../img/svg/zigzag-border-black.svg) no-repeat;
    width: 100px;
    height: 20px;
}

.heading_product_strip:after {
    background: url(../img/svg/zigzag-border-black.svg) no-repeat;
    width: 100px;
    height: 20px;
    display: none;
}

.sort_drop {
    right: -5px;
    left: initial;
    box-shadow: none;
    border-radius: 0;
    border: 1px solid #000;
    padding: 14px 10px;
    text-align: center;
    top: 26px;
    width: 160px;
    font-family: 'HansKendrick', sans-serif;
}

.sort_drop li {
    cursor: pointer;
    color: #000;
}

.selected {
    font-family: 'HansKendrick', sans-serif;
    font-size: 14px;
    font-weight: normal;
    text-align: center;
    color: #ec6543 !important;
}

.sort_drop li {
    cursor: pointer;
    color: #000;
}

.divider {
    margin: 14px 0px !Important;
    border: solid 1px #edede8;
    width: 139px !important;
}

.product_list {
    margin-top: 70px;
}

.margin_product {
    margin-bottom: 50px;
}

.img-area {
    height: 300px;
    padding: 30px;
    background: #f5f5f2;
}

img.img-responsive.bookmark {
    margin: -15px;
    float: right;
    height: initial;
}

.img-area img {
    margin-top: 50px;
    height: 148.7px;
}

a.center-block.basket_button {
    transition: 1s ease all;
    margin-top: 17px;
    height: 40px;
    border-radius: 2px;
    background-color: #ec6543;
    border-color: #ec6543;
    padding: 8px;
    text-align: center;
    color: #fff;
    text-decoration: none;
    opacity: 0;
    font-family: 'HansKendrick', sans-serif;
}

.product_details {
    margin-top: 19px;
}

.margin_product p {
    font-family: 'HansKendrick', sans-serif;
}

.handcrafted {
    font-family: 'HansKendrick', sans-serif;
    font-size: 16px;
    font-weight: normal;
    letter-spacing: -0.6px;
    color: #464646;
}

.margin_product:hover .basket_button {
    transition: 1s ease all;
    opacity: 1;
}

.Rs {
    font-size: 12px;
    font-weight: bold;
    text-align: right;
    color: #000000;
    margin-top: 10px;
    font-family: 'Open Sans', sans-serif !important;
}


/*---Media Query---*/

@media(max-width:768px) {
    .catergory {
        position: relative;
        text-align: center;
    }
    .category_drop {
        width: auto;
        height: auto;
        right: 0px;
        padding: 5px 5px;
    }
    .heading_product_strip:before {
        position: absolute;
        top: 15px;
        width: 25%;
    }
    .heading_product_strip:after {
        position: absolute;
        right: 0;
        top: 15px;
        width: 25%;
        left: 70%;
        display: block
    }
    .heading_product h1 {
        text-align: center;
        margin: 5px 0px 17px 0px;
    }
    .sort_drop
    {
        
        width: 100% !important;
    }
    .divider
    {
         width: 100% !important;
    }
}