section.checkout.useraccount {
    background: transparent;
}
section.checkout {
    background-color: #f5f5f2;
    padding-top: 50px;
    padding-bottom: 50px;
}
.container-fluid.useraccout {
    margin: 0% 6%;
}
.useraccout .col-md-2.useraccount_options {
    width: 12%;
}
ul.nav.nav-tabs.payment_option.useraccount_options li {
    background: transparent;
}
.payment_option li {
    background: #F5F5F2;
    border-bottom: 1px solid #EDEDE8;
    display: block;
    width: 100%;
}
ul.nav.nav-tabs.payment_option.useraccount_options li.active a {
    border: none;
    font-family: 'HansKendrick', sans-serif;
    font-size: 14px;
    font-weight: 900;
    line-height: 1.79;
    color: #ec6543;
    background: transparent;
    border: solid 1px #edede8;
    border-left: solid 3px #ec6543;
}
ul.nav.nav-tabs.payment_option.useraccount_options li a {
    padding: 15px;
}
ul.nav.nav-tabs.payment_option li.active a {
    border: none;
    font-family: 'HansKendrick', sans-serif;
    font-size: 14px;
    font-weight: 900;
    line-height: 1.79;
    color: #ec6543;
}
ul.nav.nav-tabs.payment_option li a {
    font-family: 'HansKendrick', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.79;
    letter-spacing: -0.7px;
    color: #464646;
}
.useraccout .col-md-2.useraccount_options li a {
    text-align: right;
}
h2.impact_created {
    font-family: 'HansKendrick', sans-serif;
    font-size: 21px;
    font-weight: 400;
    color: #686868;
}
.seperator_single {
    background-image: url(../img/zigzag-border-grey.png);
    height: 16px;
    background-repeat: no-repeat;
    width: 100px;
}
.impact_des {
    width: 380px;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: #686868;
    padding: 7px 20px;
    border-left: solid 3px #74c700;
    margin-bottom: 50px;
}
.employment_seal {
    border-radius: 2px;
    box-shadow: inset 0 1px 30px 0 rgba(0, 0, 0, 0.03);
    border: solid 1px #d9d9d4;
    padding: 25px;
    margin-right: 15px;
}
.employment_seal_image {
    background: url(../img/svg/employment-seal.svg);
    width: 63px;
    height: 63px;
    float: left;
    margin-right: 15px;
}
.employment_seal img {
    padding: 19px;
}
.employment_seal span {
    font-family: 'HansKendrick', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #686868;
    display: block;
    margin-right: 5px;
}
.employment_seal h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 50px;
    font-weight: 300;
    text-align: center;
    color: #686868;
}
.employment_seal p {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    color: #686868;
}
.employment_seal_image.rotate_employment_seal {
    transform: rotate(90deg);
}
.employment_seal:last-child {
    border-radius: 2px;
    box-shadow: none;
    border: none;
    padding: 49px 25px;
    margin-right: 15px;
}
.employment_seal_image.rotate_employment_seal img {
    transform: rotate(-90deg);
    padding-bottom: 24px;
    padding-top: 22px;
    padding: 0px 40px 20px 14px;
}
h2.impact_created {
    font-family: 'HansKendrick', sans-serif;
    font-size: 21px;
    font-weight: 400;
    color: #686868;
}
.seperator_single {
    background-image: url(../img/zigzag-border-grey.png);
    height: 16px;
    background-repeat: no-repeat;
    width: 100px;
}
.open_older_orders {
    padding: 0px;
    margin-top: 30px;
    display: block;
    height: 15px;
}
.open_older_orders li {
    font-family: 'HansKendrick', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #686868;
    float: left;
    margin-right: 15px;
    cursor: pointer;
}
.active_order_tab {
    font-weight: 900 !important;
    color: #ec6543 !important;
}
.order_details_account {
    margin-top: 25px;
    margin-bottom: 20px;
}
.order_details_account p:nth-child(1) {
    font-family: 'Open Sans', sans-serif;
    font-size: 10px;
    font-weight: 400;
    color: #686868;
}
.order_details_account p:nth-child(2) {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 700;
    color: #000000;
}
.order_details_account img {
    float: left;
    margin-right: 5px;
}

.order_details_account .container-fluid button.btn.ghost.center-block {
    width: auto;
    float: right;
    margin-top: 0px;
    margin-right: -15px;
}
button.ghost {
    margin-top: 30px;
    font-family: 'HansKendrick', Fallback, sans-serif;
    font-size: 12px;
    font-weight: 900;
    text-align: center;
    color: #272727;
    width: 200px;
    transition: 0.5s ease;
    height: 40px;
    border-radius: 2px;
    border: solid 1px #000000;
    background-color: transparent;
}
.wizard {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    padding: 0;
}
.wizard > li {
    -ms-flex: 1;
    -webkit-flex: 1;
    -moz-flex: 1;
    flex: 1;
}
.wizard > li {
    list-style: none;
    text-align: center;
    width: auto;
    padding: 0;
    margin: 0;
    position: relative;
    text-overflow: ellipsis;
    color: #bbbbbb;
    display: block;
}
.bubble {
    border-radius: 1000px;
    width: 8px;
    height: 8px;
    background-color: #464646;
    display: block;
    margin: 0 auto 0.5em auto;
    border-bottom: 1px solid #888888;
}
li:not(:last-child) .bubble:after {
    content: "";
    width: 50%;
    display: block;
    height: 0px;
    border: solid 1px #464646;
    position: absolute;
    top: 3px;
    z-index: -1;
}
li .bubble:after {
    right: 0;
}
li:not(:first-child) .bubble:before {
    content: "";
    width: 50%;
    display: block;
    height: 0px;
    border: solid 1px #464646;
    position: absolute;
    top: 3px;
    z-index: -1;
}
li .bubble:before {
    left: 0;
}
.bubble.active {
    width: auto;
    height: 15px;
    border-radius: 4px;
    background-color: #464646;
    margin-top: -5px;
    font-size: 9px;
    font-weight: 700;
    text-align: center;
    color: #ffffff;
    z-index: 9999999;
    padding: 2px;
    font-family: 'Open Sans', sans-serif;
    z-index: 1;
}
.user_account_2 {
    border-radius: 2px;
    background-color: #ffffff;
    box-shadow: inset 0 1px 30px 0 rgba(0, 0, 0, 0.03);
    border: solid 1px #d9d9d4;
}
.review_item {
    margin-top: 20px;
}
.panel.item > .panel-body {
    padding-left: 10px;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-right: 10px;
}
.user_account_2 .panel-body {
    padding-bottom: 20px !important;
}
.panel.item > .panel-body span.text {
    font-family: 'Open Sans', sans-serif;
    font-size: 10px;
    font-weight: normal;
    text-align: right;
    color: #686868;
}
.panel.item > .panel-body .product-title {
    width: 180px;
}
.panel.item > .panel-body .product-title h3 {
    font-family: 'HansKendrick', Fallback, sans-serif;
    font-size: 14px;
    font-weight: normal;
    letter-spacing: -0.5px;
    color: #464646;
    margin-top: 0px;
}
.product-details .table {
    margin-bottom: 0px;
    width: 0%;
}
.product-details .table>tbody>tr>td, .product-details .table>tbody>tr>th, .product-details .table>tfoot>tr>td, .product-details .table>tfoot>tr>th, .product-details .table>thead>tr>td, .product-details .table>thead>tr>th {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 0px solid #ddd;
}
.panel.item > .panel-body span.text {
    font-family: 'Open Sans', sans-serif;
    font-size: 10px;
    font-weight: normal;
    text-align: right;
    color: #686868;
}
.hr_useraccount_2 {
    margin: 20px 3px;
}
.panel.item > .panel-body span.text b {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: bold;
    text-align: right;
    color: #000000;
}
.order-return_div {
    display: none;
}
.back_order_return {
    float: left;
    margin-right: 30px;
    border-right: transparent;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid #ec6543;
    cursor: pointer;
}
.order-detail-return-h2 {
    font-family: 'HansKendrick', sans-serif;
    font-size: 14px;
    font-weight: 900;
    color: #ec6543;
    margin-bottom: 20px;
}
.order-detail-return, .order-detail-return .panel {
    background: #f5f5f2;
}
.panel.summary h2 {
    font-family: 'HansKendrick', Fallback, sans-serif;
    font-size: 21px;
    font-weight: normal;
    text-align: center;
    color: #686868;
    text-align: center;
}
.panel.summary h2:after {
    content: "";
    display: block;
    margin: auto;
    width: 110px;
    height: 15px;
    background: url(../img/svg/zigzag-border-black.svg) center no-repeat;
    margin-top: 16px;
}
.panel.summary .summary-details {
    padding-left: 50px;
    padding-right: 50px;
}
.panel.summary .summary-details span.pull-right {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 600;
    text-align: right;
    color: #000000;
}
.panel.summary .summary-details span {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: normal;
    color: #686868;
}
hr.line {
    border: solid 1px #f5f5f2;
    margin-top: 8px;
}
.zig {
    background: url(../img/zigzag-border-grey.png) center no-repeat;
    height: 20px;
    border: none;
}
.panel.summary .summary-details .total span {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: bold;
    text-align: right;
    color: #000000;
}
.income-details .table {
    margin-bottom: 0px;
    margin-top: 30px;
}
.income-details span {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: normal;
    color: #787878;
}
.order-detail-return .panel.summary:after {
    background: linear-gradient(-50deg, #ffffff 16px, transparent 0), linear-gradient(50deg, #ffffff 16px, transparent 0);
    background-position: left-bottom;
    background-repeat: repeat-x;
    background-size: 10px 31px;
    content: " ";
    display: block;
    position: absolute;
    bottom: -1px;
    left: 0px;
    width: 100%;
    height: 32px;
}#table_user3 tbody tr td {
    padding-left: 0px;
}button.ghost:hover {
    margin-top: 30px;
    font-family: 'HansKendrick', Fallback, sans-serif;
    font-size: 12px;
    font-weight: 900;
    text-align: center;
    color: #eeeeee;
    transition: 0.5s ease;
    width: 200px;
    height: 40px;
    border-radius: 2px;
    border: solid 1px #000000;
    background-color: #000000;
}
.payment_option li a {
    margin-right: 0px;
    border: 1px solid #EDEDE8;
    border-bottom: none;
    border-radius: 0px;
}
.delivered_add {
    font-family: 'HansKendrick', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #686868;
    margin-bottom: 16px;
}.delivered_add_details {
    width: 167px;
    height: 114px;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.58;
    color: #686868;
    display: block;
}.date_delivered {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 700;
    color: #000000;
}
.return_initiated {
    border: none !important;
    width: 140px !important;
    height: 40px !important;
    border-radius: 2px !important;
    background-color: #d9d9d4 !important;
    color: #000 !important;
}
.cancel_return {
    width: 140px !important;
    margin-right: 10px !important;
    border: none !important;
    background: transparent !important;
    color: #000 !important;
}
div[data-id="option2"] .container-fluid .order_details_account img {
    float: none;
    margin-right: 5px;
}
div[data-id="option2"] .container-fluid .order_details_account p:nth-child(2) {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 700;
    color: #000000;
    margin: 0;
    margin-top: 4px;
}
.product-details1 h2 {
    font-family: 'HansKendrick', sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin-top: 30px;
    color: #000000;
    margin-bottom: 30px;
}
.product-details1 td span:first-child {
    font-family: 'Open Sans', sans-serif;
    font-size: 10px;
    font-weight: normal;
    color: #686868;
    display: block;
    margin: 5px 0px;
    width: 100%;
}
.product-details1 td span:nth-child(2) {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #686868;
}
.product-details1 .ghost {
    width: auto !important;
}
.product-details1 h2 {
    font-family: 'HansKendrick', sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin-top: 30px;
    color: #000000;
    margin-bottom: 30px;
}
.saved_address {
    border-radius: 2px;
    box-shadow: inset 0 1px 30px 0 rgba(0, 0, 0, 0.03);
    border: solid 1px #d9d9d4;
    padding: 25px;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.58;
    color: #686868;
}
.saved_address img {
    float: right;
    margin-top: -15px;
    padding: 5px 10px;
    cursor: pointer;
}
.order_h2_details {
    font-family: 'HansKendrick', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #686868;
}
.modal-content {
    padding: 24px;
    position: relative;
    background-color: #edede8;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 0px solid #999;
    border: 0px solid rgba(0, 0, 0, .2);
    border-radius: 0px;
    outline: 0;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .0);
    box-shadow: 0 3px 9px rgba(0, 0, 0, .0);
}
#edit_address_modal .modal-dialog .modal-content .modal-body .row.text-center {
    margin-bottom: 30px;
}
#close_edit_address {
    position: absolute;
    right: 0;
    cursor: pointer;
}
.edit_address_h4 {
    font-family: 'HansKendrick', sans-serif;
    font-size: 21px;
    font-weight: 400;
    line-height: 1.19;
    letter-spacing: -1px;
    text-align: center;
    color: #686868;
}
.user-textbox {
    border-radius: 2px;
    background-color: #f5f5f2;
    border: solid 1px #d9d9d4;
    box-shadow: none;
    height: 40px;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: #464646;
}
textarea.user-textbox {
    height: 80px;
    resize: none;
}
p.state_city {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 2.08;
    text-align: center;
    color: #000000;
}


.deliver_button {
    margin-top: 0px;
    width: 138.8px;
    height: 40px;
    border-radius: 2px;
    background-color: #ec6543;
    border: none;
    font-family: 'HansKendrick', sans-serif;
    font-size: 12px;
    font-weight: 900;
    text-align: center;
    color: #ffffff;
    outline: none;
    margin-bottom: 15px;
    display: none;
}.address_selected_button {
    display: block;
}

.return_p {
    font-family: 'Open Sans', sans-serif;
    font-size: 11.5px;
    font-weight: 400;
    text-align: center;
    color: #464646;
}

.filter-option-class {
    text-align: center !important;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 400;
}

.return_reason_class {
    width: 100% !important;
    height: 40px;
    border-radius: 2px;
    background-color: #ffffff;
    border: solid 1px #d9d9d4;
    margin-top: 20px;
    margin-bottom: 30px;
}

.return_reason_class button {
    width: 100% !important;
    height: 40px;
    border-radius: 2px;
    background-color: #ffffff;
    border: solid 1px #d9d9d4;
    
}

.return_reason_class .dropdown-menu {
    border-radius: 2px;
    background-color: #ffffff;
    border: solid 1px #d9d9d4;
    margin: 0px;
    padding: 0;
    
}

.return_reason_class .dropdown-menu li a {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
        padding: 11px;
    border-bottom: solid 1px #d9d9d4;
}
.return_reason_class .dropdown-menu li:last-child a {

    border-bottom: none;
}

.return_reason_class .dropdown-menu li:first-child a {
    color: #ec6543;
}

.dropdown_a_class {
    text-align: center;
}
.initiate_return_button
{
    display: block;
}
.return_reason_textarea
{
    display: none;
     font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: 400;
  font-style: italic;
  color: #787878;
    font-style: italic;
}

@media (min-width: 768px)
{
.modal-dialog {
    width: 1000px;
    margin: 30px auto;
}
}