body {
    font-family: 'Open Sans', sans-serif;
}

@font-face {
    font-family: 'HansKendrick';
    src: url('../../fonts/HansKendrick-Regular.otf');
    /* IE9 Compat Modes */
    src: url('../../fonts/HansKendrick-Regular.otf') format('embedded-opentype'), /* IE6-IE8 */
    url('../../fonts/HansKendrick-Regular.otf') format('otf'), /* Super Modern Browsers */
}

.top_bar {
    border: 1px solid #edede8;
}

.habba_logo_product {
    border-right: 1px solid #edede8;
    float: left;
    padding: 5px;
    padding-top: 0px;
    padding-right: 25px;
}

.top_product_contact p {
    font-size: 12px;
    font-weight: normal;
    text-align: center;
    color: #686868;
    border-bottom: 1px solid #edede8;
    margin-left: -16px;
    width: 100%;
    text-align: center;
    padding: 10px;
    margin-bottom: 0px;
    font-family: 'HansKendrick', sans-serif;
}

.navbar-default {
    background: transparent;
    border-color: transparent;
    border: 0px;
}

.navbar {
    margin-bottom: 0px;
    margin-top: 8px;
}

.navbar-default .navbar-nav>li>a {
    color: #686868;
    font-family: 'HansKendrick', sans-serif;
    line-height: 23px;
}

.navbar-default .navbar-nav>li:hover {
    border-bottom: solid 3px #ec6543;
}

.navbar-default .navbar-nav>li:hover a {
    font-family: 'HansKendrick', sans-serif;
    font-size: 14px;
    font-weight: 900;
    color: #ec6543;
}

.navbar-default .navbar-nav>li {
    border-bottom: solid 3px transparent;
}

.number {
    color: #D400AD;
    font-weight: bold;
}

.bookmark_badge {
    position: absolute;
    top: 5px;
    width: 17.4px;
    height: 17.4px;
    padding: 2px;
    background: #fff;
    color: #000;
    border: 1px solid #272727;
    right: 8px;
}

.cart_badge {
    position: absolute;
    top: 5px;
    width: 17.4px;
    height: 17.4px;
    padding: 2px;
    background: #ec6543;
    color: #fff;
    border: solid 1px #ec6543;
    right: 8px;
}

.navbar-default .navbar-nav>li img.dummy {
    width: 16px;
}


/*address */

.top_bar .top-bar-checkout h3 {
    font-family: 'HansKendrick', sans-serif;
    font-size: 21px;
    font-weight: 400;
    letter-spacing: -1px;
    text-align: center;
    color: #686868;
}

.top_bar .top-bar-checkout p {
    font-family: 'HansKendrick', sans-serif;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    color: #686868;
}

.number {
    color: #D400AD;
    font-weight: bold;
}

.arrow_box {
    background: #fff;
    position: absolute;
    width: 371px;
    height: 550px;
    z-index: 9999999;
    right: -111px;
    border: 1px solid #d9d9d4;
    display: none;
}

.arrow_box_after {
    display: block;
}

.arrow_box:after,
.arrow_box:before {
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.arrow_box:before {
    border-color: rgba(217, 217, 212, 0);
    border-bottom-color: #d9d9d4;
    border-width: 11px;
    margin-left: 36px;
}

.arrow_box:after {
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #fff;
    border-width: 10px;
    margin-left: 37px;
}

.add_to_basket {
    position: absolute;
    width: 100px;
    text-align: center;
    left: -60px;
    width: 165.5px;
    height: 47px;
    border-radius: 2px;
    background-color: #ec6543;
    font-family: 'HansKendrick', sans-serif;
    font-size: 14px;
    font-weight: normal;
    text-align: center;
    color: #ffffff;
    padding: 14px 8px;
    display: none;
    bottom: -42px;
}

.add_to_basket_before {
    position: relative;
    display: none;
    bottom: 1px;
}

.add_to_basket_before:after,
.add_to_basket_before:before {
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.add_to_basket_before:after {
    border-color: transparent;
    border-bottom-color: #ec6543;
    border-width: 10px;
    margin-left: 12px;
}

.scroll_hide {
    width: 370px;
    height: 470px;
    overflow: hidden;
    position: absolute;
    border-top: none;
    padding: 15px;
    padding-left: 2px;
    border-right: 1px solid #d9d9d4;
}

.basket_list {
    position: absolute;
    height: 434px;
    background: #fff;
    z-index: 9;
    overflow: hidden;
    overflow-y: auto;
    width: 386px;
}

.basket_img {
    background-color: #f5f5f2;
    padding: 10px;
}

p.name_basket,
p.quantity_basket,
p.quantity_no,
p.sub_total_cost,
p.sub_total {
    border: none !Important;
    margin: 0px;
    text-align: left !important;
    padding: 0px !important;
    padding-left: 20px !important;
}

p.sub_total {
    font-family: 'Open Sans', sans-serif !important;
    font-size: 10px !important;
    font-weight: 400 !important;
    text-align: right !important;
    color: #686868 !important;
}

p.quantity_basket {
    padding-top: 10px !important;
}

.basket_hr {
    margin-top: 15px;
    margin-bottom: 15px;
    border: 0;
    border-top: 1px solid #eee;
    margin-right: -20px;
    margin-left: -20px;
}

.checkout_div {
    position: absolute;
    bottom: 0px;
    width: 100%;
    border-top: 1px solid #d8d8d8;
    margin: 0px;
}

button.check_out {
    padding: 0px;
    margin: 10px;
    width: 198.9px;
    height: 40px;
    border-radius: 2px;
    background-color: #ec6543;
    border: 0px;
    margin-left: 85.5px;
    font-family: 'HansKendrick', sans-serif;
    font-size: 12px;
    font-weight: 900;
    text-align: center;
    color: #ffffff;
    outline: none;
}

.basket_income_artisian {
    padding: 10px;
    border-radius: 2px;
    background-color: #f5f5f2;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: normal;
    color: #787878;
}

p.sub_total_cost {
    font-family: 'Open Sans', sans-serif !important;
    font-size: 12px !important;
    font-weight: 700 !important;
    text-align: right !important;
    color: #000000 !important;
}

@media (min-width: 767px) {
    .navbar-right {
        float: right!important;
        margin-right: 25px !important;
    }
}

@media (max-width: 767px) {
    .habba_logo_product {
        border-right: none;
    }
    .top_bar {
        border-bottom: none;
    }
    .top_product_contact .row {
        border-bottom: 1px solid #edede8;
        border-top: 1px solid #edede8;
        margin-top: 10px;
    }
}

@media (max-width: 768px) {
    .navbar-header {
        margin-top: -170px;
    }
    .top_product_contact .row {
        border-bottom: 1px solid #edede8;
    }
    div#bs-example-navbar-collapse-1 {
        border-color: transparent;
        background: #fff;
        margin-top: 33px;
    }
    .top_product_contact p {
        border-bottom: none;
        padding: 22px 10px;
        margin-left: 0px;
    }
}